# Temp files
*~

# /
/*.buildpath
/.buildpath
/.settings
/webinterface.log

# /application/
/application/configs

# /institution/UTS/scripts/
/institution/UTS/scripts/Inclined_Plane.phtml

# /library/
/library/Zend

# Private UTS projects
institution/SAHARANS/scripts/ANDS.phtml
institution/SAHARANS/scripts/CT_Scanner.phtml
institution/SAHARANS/scripts/Coupled_Tanks.phtml
institution/SAHARANS/scripts/Tims.phtml

