@CHARSET "UTF-8";

#robot-canvas .float-clear {
	clear: both;
}

/******************************************************************************
 ** Widgets                                                                  **
 ******************************************************************************/

.widget-box {
	position: relative;	
}

.widget-box .widget-title {
	position: absolute;
	bottom: -30px;
	padding: 5px;
	margin: -4px 0 0 15px;
	background-color: #EFEFEF;
	border: 1px solid #B5B5B5;
	box-shadow: 0 2px 4px #B5B5B5;
	border-radius: 0 0 4px 4px;
	color: #606060;
}

/*******************************************************************************
 ** Mode Selector                                                             **
 *******************************************************************************/
#mode-sel {
	position: absolute;
	top: -45px;
}

#mode-sel a {
	display: block;
	float: left;
	margin: 5px 5px 0;
	padding: 5px 7px 7px;
	background-color: #EFEFEF;
	border: 1px solid #B5B5B5;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 -1px 2px #B5B5B5;
	color: #606060;
	cursor: pointer;
	text-align: center;
}

#mode-sel a:hover {
	box-shadow: 0 -1px 2px #606060;
	color: #000;
}

#mode-sel a.active {
	background-color: #B5B5B5;
	box-shadow: 0 -1px 2px #606060;
    color: #F7F7F7;
    font-weight: bold;
}

#mode-sel #mode-sel-border {
	width: 673px;
	height: 5px;
	background-color: #FFFFFF;
	z-index: -101;
	position: absolute;
	border: 1px solid #B5B5B5;
	box-shadow: 0 0 4px #B5B5B5;
}

#mode-sel #mode-sel-border-clear {
	margin: 1px 0 0 -5px;
	width: 685px;
	height: 15px;
	border: none;
	background-color: #FFFFFF;
	z-index: -100;
}

/******************************************************************************
 ** D-Pad                                                                    **
 ******************************************************************************/
 
#dpad {
	position: absolute;
	top: 150px;
	left: -165px;
}

#dpad .dpad-finger {
	width: 39px;
	height: 39px;
	background-color: #EFEFEF;
	box-shadow: 0 0 4px #B5B5B5;
	cursor: pointer;
}

#dpad .dpad-finger:hover {
	box-shadow: 0 0 4px #606060;
}

#dpad span {
	background-image: url('images/dpad_sprite.png');
	display:block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px;
	top: 5px;
}

#dpad #pad-center {
	position: absolute;
	left: 50px;
	top: 50px;
	width: 40px;
	height: 40px;
	box-shadow: 0;
	background-color: #EFEFEF;
}

#pad-center span {
	background-position: -2px 32px;
}

#dpad #north-finger {
	position: absolute;
	left: 50px;
	top: 0px;
	height: 49px;
	border-radius: 8px 8px 0 0;
	border: 1px solid #B5B5B5;
	border-bottom-width: 0;
	background: -moz-linear-gradient(top, #DEDEDE, #EFEFEF);
}

#dpad #north-finger span {
	background-position: -2px -1px;
}

#dpad #north-finger.pressed {
	background-color: #EDEDED;
	background: -moz-linear-gradient(top, #F5F5F5, #EFEFEF);
}

#dpad #north-finger.pressed span {
	background-position: -2px -36px;
}

#dpad #east-finger {
	position: absolute;
	left: 90px;
	top: 50px;
	width: 49px;
	border-radius: 0 8px 8px 0;
	border: 1px solid #B5B5B5;
	border-left-width: 0;
	background: -moz-linear-gradient(right, #DEDEDE, #EFEFEF);
}


#dpad #east-finger span {
	background-position: -35px -2px;
	left: 15px;
}

#dpad #east-finger.pressed {
	background-color: #EDEDED;
	background: -moz-linear-gradient(right, #F5F5F5, #EFEFEF);
}

#dpad #east-finger.pressed span {
	background-position: -35px -35px;
	left: 15px;
}

#dpad #south-finger {
	position: absolute;
	left: 50px;
	top: 90px;
	height: 49px;
	border-radius: 0 0 8px 8px;
	border: 1px solid #B5B5B5;
	border-top-width: 0;
	background: -moz-linear-gradient(bottom, #DEDEDE, #EFEFEF);
}


#dpad #south-finger span {
	background-position: -68px -2px;
	top: 15px;
}

#dpad #south-finger.pressed {
	background-color: #EDEDED;
	background: -moz-linear-gradient(bottom, #F5F5F5, #EFEFEF);
}

#dpad #south-finger.pressed span {
	background-position: -68px -35px;
	top: 15px;
}

#dpad #west-finger {
	position: absolute;
	left: 0;
	top: 50px;
	width: 49px;
	border-radius: 8px 0 0 8px;
	border: 1px solid #B5B5B5;
	border-right-width: 0;
	background: -moz-linear-gradient(left, #DEDEDE, #EFEFEF);
}

#dpad #west-finger span {
	background-position: -68px -68px;
}

#dpad #west-finger.pressed {
	background-color: #EDEDED;
	background: -moz-linear-gradient(left, #F5F5F5, #EFEFEF);
}

#dpad #west-finger.pressed span {
	background-position: -35px -68px;
}

/******************************************************************************
 ** Ranger widget                                                          **
 ******************************************************************************/
#ranger-panel {
    position: absolute;
    right: 5px;
    top: 50px;
    border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
    height: 300px;
    width: 300px;	
}

#ranger-panel .widget-title {
	width: 200px;
}

#ranger-panel .bar {
	position: absolute;
}

#ranger-panel #zoom-bar {
	width: 100%;
	height: 25px;
	top: -26px;
	left: 0;
}

#ranger-panel .bar-indicator {
	position: absolute;
}

#ranger-panel #zoom-bar-containment {
	position: absolute;
	left: 140px;
	bottom: 1px;
	width: 170px;
	height: 30px;
}

#ranger-panel #zoom-bar-indicator {
	left: 25px;
	bottom: 5px;
	z-index: 100;
}

#ranger-panel .bar-ind {
	background: none repeat scroll 0 0 #808080;
	border: 1px solid #808080;
	cursor: pointer;
	margin: 0 auto;
	height: 0;
	width: 0;
	box-shadow: 0 2px 3px #B5B5B5;
	z-index: 100;
}

#ranger-panel .bar-ind-hover {
	background: none repeat scroll 0 0 #606060;
    border: 1px solid #606060;
    box-shadow: 0 2px 3px #606060;
}

#ranger-panel #zoom-bar-indicator .zoom-bar-ind {
	display: block;
	border-top-width: 0;
}

#ranger-panel .zoom-post {
	position: absolute;
    bottom: 0;
	height: 30px;
	width: 2px;
	background-color: #DDDDDD;
}

#ranger-panel #zoom-post-l {
	left: 149px;
}

#ranger-panel #zoom-post-r {
	left: 174px;
}

#ranger-panel #zoom-arr-left {
	position: absolute;
	left:151px;
	bottom: 13px;
	background-image: url(images/arrow.png);
	width: 15px;
	height: 8px;
}

#ranger-panel #zoom-arr-line {
	position: absolute;
	left:158px;
	bottom: 13px;
	background-color: #DDDDDD;
	width: 15px;
	height: 2px;
}

#ranger-panel #zoom-arr-right {
	position: absolute;
	left:160px;
	bottom: 13px;
	background-image: url(images/arrow.png);
	width: 15px;
	height: 8px;
	background-position: 15px 0;
}

#ranger-panel #zoom-label {
	position: absolute;
	left: 152px;
	top: -20px;
	color: #606060;
}

#ranger-panel #rot-bar {
	position: absolute;
	left: -30px;
	top: 30px;
	height: 240px;
	width: 30px;
}

#ranger-panel #rot-bar-containment {
	position: absolute;
	top: 20px;
	height: 200px;
	width: 30px;
}

#ranger-panel #rot-bar-indicator {
	position: absolute;
	left: 10px;
	top: 0px;
}


#ranger-panel #rot-bar-indicator .rot-bar-ind {
    display: block;
    float: left;
    border-left-width: 0;
}

#ranger-panel .rot-label-post {
	position: absolute;
	width: 30px;
	text-align: right;
	z-index: -1;
	border-top: 2px solid #DDDDDD;
	color: #606060;
	
}

/******************************************************************************
 ** Navigation Control                                                       **
 ******************************************************************************/
#nav-control-container {
	position: absolute;
	top: 100px;
	left: -184px;
	
}

#nav-control-button {
	float: left;
	width: 75px;
    height: 75px;
    margin: 15px 20px 0 0;
}

#nav-led-bar {
	float: left;
	color: #606060;
	text-align: center;
}

#nav-control-button img {
	margin-top: 12px;
}

.led {
	margin: 5px auto;
	width: 30px;
	height: 30px;
	border: #B5B5B5;
	box-shadow: 0 0 4px #B5B5B5;
	border-radius: 15px;
}

.green-led {
	background: #d2ff52;
	background: radial-gradient(center, ellipse cover, #d2ff52 0%, #91e842 100%);
    background: -moz-radial-gradient(center, ellipse cover, #d2ff52 0%, #91e842 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#d2ff52), color-stop(100%,#91e842));
    background: -webkit-radial-gradient(center, ellipse cover, #d2ff52 0%,#91e842 100%);
}

.red-led {
	background: #F88B8B; /* Old browsers */
	background: radial-gradient(center, ellipse cover, #F88B8B 0%, #F93E3E 100%);
    background: -moz-radial-gradient(center, ellipse cover, #F88B8B 0%, #F93E3E 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #F88B8B 0%,#F93E3E 100%);
}

/******************************************************************************
 ** Navigation                                                               **
 ******************************************************************************/
#nav-panel {
    position: absolute;
    left: 15px;
    top: 15px;
    border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
    width: 644px;
    height: 333px;   
}

#nav-status {
	text-align: right;
	color: #606060;
	font-size: 0.9em;
}

/******************************************************************************
 ** Datasets                                                                 **
 ******************************************************************************/
#log-ds-container {
	position: absolute;
    left: -184px;
    top: 238px;
}
#log-ds {
	border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
    width: 176px; 
    min-height: 111px;
    overflow-x: hidden;
}

#log-ds-enable {
	margin: 10px 0;
	width: 110px;
}

#log-led.led {
	width: 16px;
	height: 16px;
    border-radius: 8px;
    float: left;
    margin: 1px 4px 0;
}
 
#log-ds .no-ds {
	padding: 10px;
	font-size: 0.8em;
	color: #888;
}

#log-ds-files {
	list-style: none;
	color: #606060;
}

#log-ds-files li {
	border-bottom: 1px solid #EFEFEF;
}

#log-ds-files .ui-icon {
	float: left;
	margin-right: 5px;
}
#log-ds-files .ds-not-ready {
	padding: 5px;
	opacity: 0.8;
    color: #AAAAAA;
}

#log-ds-files .not-ready {
	font-size: 0.8em;
}

#log-ds-files .ds-ready {
	display: block;
	float: left;
	height: 100%;
	width: 139px;
	overflow-x: hidden;
	padding: 5px;
}

#log-ds-files .ds-ready:hover {
	background-color: #EFEFEF;
}

#log-ds-files .ds-delete {
	float: left;
	cursor: pointer;
}

#log-ds-files .ds-delete:hover {
	background-color: #F88B8B;
	height: 100%;
}

#log-ds-files .ds-delete .ui-icon {
	margin: 4px 5px 7px 6px;
}

/******************************************************************************
 ** Onboard camera                                                         **
 ******************************************************************************/
#obcamera-panel {
	position: absolute;
	left: 5px;
	top: 80px;
	border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
	width: 320px;
	height: 240px;
}

/******************************************************************************
 ** Overhead camera                                                        **
 ******************************************************************************/
#ovcamera-panel {
   position: absolute;
   border: 1px solid #B5B5B5;
   box-shadow: 0 0 4px #B5B5B5;
   width: 640px;
   height: 480px;
}

#ovcamera-panel.mode-1 {
    left: 20px;
    top: 400px;
}
 
#ovcamera-panel.mode-2 {
	left: 15px;
	top: 420px;
}
