/**
 * Wave Tank stylesheet.
 *
 * @author Michael Diponio
 * @date 18th November 2013
 */

/* ----------------------------------------------------------------------------
 * --- Wave Tank specific styles                                          ---
 * ---------------------------------------------------------------------------- */

#switch-1 {
    left: -121px;
    top: 80px;
}

#switch-2 {
    left: -58px;
    top: 80px;
}

#switch-3 {
	left: -183px;
    top: 80px;
}

#switch-4 {
    left: -178px;
    top: 205px;
}

#led-1 {
    left: -52px;
    top: 204px;
}

#slider-1{
    left: 60px;
    top: 230px;
}

#slider-2 {
    left: 80%;
    top: -50px;
}

#slider-3 {
    left: 65%;
    top: -50px;
}

#rotary-1 {
    left: 8%;
    top: 245px;
}

#rotary-2 {
    left: 48%;
    top: 245px;
}

#rotary-3 {
    left: -27%;
    top: 256px;
}

#knob-1 {
    left: 50px;
    top: 15px;
}

#knob-2 {
    left: 415px;
    top: 15px;
}

#knob-3 {
    left: 235px;
    top: 15px;
}

#button-1 {
    position: absolute;
    top: -140px;
    right: 30px;
}

#button-2 {
    position: absolute;
    top: -140px;
    right: -100px;
}

#button-3 {
    top: -50px;
    left: 5px;
}

#button-4 {
    top: -50px;
    left: 95px;
}

#button-5 {
    top: -50px;
    left: 184px;
}