@CHARSET "UTF-8";

.bordered {
	border:3px solid DarkBlue;
	margin:auto;
	width:60%;
}

.contacttable {
	border:0px;
	width:100%;
	cellspacing:5;
	cellpadding:5;
	align:center;
	height:100;
}

.contacthead {
	background-color:DarkBlue;
	width:370px;
	height:40px;
}

