@CHARSET "UTF-8";

#fieldssetdiv {
	border: 0px;
	background-color: #EFEFEF;
	margin-bottom: 5px;
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid #525252;
}



#formdiv {
	width: 310px;
}

#formid {
	margin-top: 10px;
}
