@CHARSET "UTF-8";

.bordered {
	margin:auto;
	width:600px;
}

.contacttable {
	border-collapse:collapse;
	border-color:#EFEFEF;
	border-style:solid;
	border-width:0 2px;
	width:100%;	
}

.contacthead {
	text-align:left;
	padding-left:15px;
	background-color:#606060;
	width:370px;
	height:40px;
	color:#FFFFFF;
}

.grey {
	background-color:#EFEFEF;
}

.white {
	background-color:white;
}

.contactLabel {
	width:30%;
	font-weight:bold;
}
	
.contactValue {
	width:70%
	
}
		

.news {
	padding:15px;
	font-size:12pt;
	line-height:20px;
}

.bordered .h3 {
	font-size:12pt;
	font-weight:bold;
}

