@CHARSET "UTF-8";

#loginform {
	width: 310px;
	margin: 10px auto;
}

#loginformfields {
	border: 0px;
	background-color: #EFEFEF;
	margin-bottom: 5px;
	position: relative;
	display: block;
	overflow: hidden;
	border: 1px solid #888888;
	-moz-box-shadow: 0 0 5px #AAAAAA;
	-webkit-box-shadow: 0 0 5px #AAAAAA;
	box-shadow: 0 0 5px #AAAAAA;
	color: #606060;
}

#loginformtitle {
	font-weight: bold;
	text-size: 1.1em;
	padding: 5px;
}

#logindiv {
	width: 310px;
}

#formid {
	margin-top: 10px;
}

#loginbuttons {
	margin: 40px auto;
	width: 400px;	
}

#shibbutton {
	float: left;
}

#shibnolocalbutton {
	margin: 0 auto;
}

#localbutton {
	float: right;
}

.loginbutton {
	width: 150px;
	height: 150px;
}
 
#localloginform {
	display: none;
	float: right;
	margin: 20px 20px 0;
}

#loginerrors {
	margin: 10px auto 0;
}
 