/**
 * Web User Interface Widget Library.
 * 
 * @author Michael Diponio
 * @date 18th Novermber 2013
 */

/******************************************************************************
 ** Windows                                                                  **
 ******************************************************************************/
.window-wrapper {
    position: absolute;
   
}

.window-expanded {
    box-shadow: 0 0 20px #666666;
}

.dragged {
    border: 2px dashed #8CE2FF;
}

.draggable-header {
    cursor: move;
}

.window-header {
    height: 19px;
    font-size: 24px;
    padding: 5px 10px;
    color: #525252;
    font-size: 15px;
}

.window-icon {
	float: left;
    height: 24px;
    width: 26px;
    display: inline-block;
    background-repeat: no-repeat;
}

.window-title {
    position: relative;
    left: 10px;
    padding-right: 10px;
    color: #666;
    top: 2px;
    margin: 0 5px 0 -4px;
}

.window-header .ui-icon {
    float: right;
    margin: 2px 3px;
}

.window-content, .tab-content {
    position: relative;
    padding: 10px 10px 6px 10px;
    margin: 5px;
    background: #FFF;
}

.window-content {
    overflow: hidden;
}

.resizable {
    min-width: 145px;
    min-height: 50px;
}

.data-blur {
    background-color: #F0F0F0;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.window-header-shade {
    height: 25px !important;
}

.ui-resizable-se {
    z-index: 0 !important;
}

/******************************************************************************
 ** Global Error                                                             **
 ******************************************************************************/
 
#global-error {
	position: absolute;
	top: 150px;
	left: 150px;
}
 
#global-error .global-error-container {
    width: 350px;
    display: block;
    position: absolute;
    padding: 25px;
    color: #cd0a0a;
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #575757;
    margin: 15% 25%;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    z-index: 110;
}

#global-error .global-error-log {
    font-size: 11px;
    color: #7e7e7e;
    border-top: 1px solid #E4D3B0;
    padding-top: 5px;
}

#global-error .global-error-heading {
    padding-left: 5px;
    font-size: 20pt;
    font-style: oblique;
    font-weight: bold;
}

#global-error .global-error-message {
    padding: 15px 0px 15px 0px;
    font-size: 13px;
}

#global-error .global-error-container .ui-icon {
    background-image: url('/uts/coupledtanksnew/images/ui-icons-red.png') !important;
    margin-top: 8px;
}

#global-error .global-error-container .window-close {
    margin: -15px -13px 0;
}

#global-error .global-error-icon {
    float: left;
    margin-right: 5px;
}

#global-error .global-error-close {
    float: right;
    cursor: pointer;
    border: 1px solid #B1A3A3;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #BEBDBD;
    margin: -8px -8px 0px -1px;
}

#global-error .global-error-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
    overflow: hidden;
}

.global-error-blur {
    opacity: 0.3;
}
