/**
 * Skeuomorphic theme for WebUI widget library.
 *
 * @author Michael Diponio <michael.diponio@uts.edu.au>
 * @author Jesse Charlton <jesse.charlton@uts.edu.au>
 * @date 20th November 2013
 */

@font-face {
	font-family: 'impact-label';
	src: url('/webui/images/impact-label.ttf')  format('truetype');
	}

.window-wrapper {
    background: #FAFAFA;
    border-radius: 10px;
    border: 1px solid #DDD;
    margin: 4px;
    -moz-box-shadow: 0 2px 6px #D3D3D3;
    -webkit-box-shadow: 0 2px 6px #D3D3D3;
    box-shadow: 0 2px 6px #D3D3D3;
}

.window-content, .tab-content {
    border: solid 1px #ccc;
    border-radius: 0 0 10px 10px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border: solid 1px #C4C4C4;
    box-shadow: inset 1px 1px 5px #D1D1D1;
}

.window-header .ui-icon, .tab-wrapper-controls .ui-icon {
    border: 1px solid #FFF;
    box-shadow: 0 0 2px #FFF;
    cursor: pointer;
}

.window-header .ui-icon:hover, .tab-wrapper-controls .ui-icon:hover {
    box-shadow: 0 0 2px #FFF;
}

.window-icon {
	background-image: url('/webui/images/skeuo-icons.png');
	opacity: 0.8;
}

.window-title {
	color: #666666;
}

.window-wrapper label, .no-window-content label {
    display: block;
    text-align: center;
    padding: 0px 8px;
    border-left: 1px dashed #6B6B6B;
    border-right: 1px dashed #6B6B6B;
    font-family: "impact-label", "Lucida Console", Monaco, monospace;
    box-shadow: 1px 1px 1px #A3A3A3;
    font-size: 18px;
    line-height: 23px;
    text-shadow: 0px 1px 2px #B9B9B9;
    color: #E7E7E7;
    background: #353535;
    background: url('/webui/images/skeuo/label-texture.png');
}

/******************************************************************************
 ** Switch                                                                   **
 ******************************************************************************/
.switch-container {
    height: 30px;
    width: 115px;
}
 
.switch-label {
	float: left;
    padding: 0 4px !important;
}

.switch {
    height: 22px;
    width: 44px;
    float: right;
    border: solid 2px #d1d1d1;
    border-bottom: solid 2px #FFF;
    border-radius: 20px;
    box-shadow: inset 3px 3px 2px #292929;
    background: #575757;
    cursor: pointer;
}

.switch:before {
    display: block;
    height: 3px;
    background: #313131;
    content: '';
    position: relative;
    top: 10px;
    left: 7px;
    margin-right: 12px;
    border-bottom: 1px solid #7A7A7A;
    border-radius: 10px;
}

.switch-slide {
    height: 20px;
    width: 20px;
    position: relative;
    top: -4px;
    border: 1px solid #313131;
    border-radius: 20px;
    box-shadow: 1px 5px 7px rgba(43, 43, 43, 0.6);
    background-image: url('/webui/images/skeuo/switch-knob.png');
    background-size: 100% 100%;
}

.switch-animated {
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.switch-on {
    left: 22px;
}

.switch-vertical-container {
    position: relative;
    height: 115px;
    width: 100%;
}

.switch-vertical {
    cursor: pointer;
}

.switch-stick-base {
    position: relative;
    height: 48px;
    margin: auto;
    margin-top: 20px;
    width: 56px;
	background-image: url('/webui/images/skeuo/switch-back.png');
    background-size: 100% 100%;
}

.switch-stick {
	width: 14px;
	height: 41px;
	position: relative;
	margin: -2% 42%;
	top: -22px;
	background-size: 100% 100%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.switch-led {
	position: absolute;
	top: 30%;
	left: 5%;
    height: 8px !important;
    width: 8px !important;
}

.switch-silver-up {
	background-image: url('/webui/images/skeuo/switch-silver-up.png');
	background-size: 100% 100%;
    top: -55%;
}

.switch-silver-down {
	background-image: url('/webui/images/skeuo/switch-silver-down.png');
	background-size: 100% 100%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
}

.switch-black-up {
	background-image: url('/webui/images/skeuo/switch-black-up.png');
	background-size: 100% 100%;
    top: -55%;
    margin-left: 41.5%;
}

.switch-black-down {
	background-image: url('/webui/images/skeuo/switch-black-down.png');
	background-size: 100% 100%;
    margin-left: 41.5%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
}

.switch-red-up {
	background-image: url('/webui/images/skeuo/switch-red-up.png');
	background-size: 100% 100%;
    top: -55%;
    margin-left: 39.5%;
}

.switch-red-down {
	background-image: url('/webui/images/skeuo/switch-red-down.png');
	background-size: 100% 100%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
    margin-left: 39.5%;
}

.no-window-content .switch-container, .no-window-content .switch-vertical-container {
    width: auto;
    display: inline-block;
    border: solid 1px rgba(255, 255, 255, 0);
    margin: 5px;
    display: inline-block;
    float: left;
}

.no-window-content .switch-vertical-label {
    border: none;
    box-shadow: none;
    background: none;
    font-size: 14px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
    font-family: Arial,Helvetica,sans-serif;
}

.no-window-content .switch-stick {
    margin: -2% 36.8%;
}

.no-window-content .switch-silver-down, .no-window-content .switch-silver-down {
    margin: -2% 38%;
}

.no-window-content .switch-led {
    top: 20% !important;
}

/******************************************************************************
 ** LED                                                                      **
 ******************************************************************************/

.led {
	height: 11px;
	width: 11px;
	border-radius: 11px;
    transition: all .1s ease-in-out;
}

.led-below .led {
	margin: 5px auto;
}

.led-adjacent .led {
	float: right;
}

.led-novalue {
	box-shadow : 0 -2px 5px 0px #fefefe , 0 2px 5px 0 #ccc;
    background: rgb(210,215,237);
    background: -webkit-linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    background: -moz-linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    background: linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    border: solid 1px #C5C5C5;
}

.led-on {
	background: -webkit-radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	background: -moz-radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	background: radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	box-shadow: inset 0 1px 1px 0 #A3A3A3 ,inset 0 -1px 1px 0 #5C5C5C , 0 0 2px 1px #BDEB0D;
	border: solid 1px #ABD605;
}

.led-off {
	background: -webkit-radial-gradient(center , ellipse cover, #fcc 0% , #F88 60% , #F00 100%);
	background: -moz-radial-gradient(center , ellipse cover, #fcc 0% , #f88 60% , #f00 100%);
	background: radial-gradient(center , ellipse cover, #fcc 0% , #f88 60% , #f00 100%);
	box-shadow: inset 0 1px 1px 0 #555 ,inset 0 -1px 1px 0 #555 , 0 0 2px 0 #F55;
	border: solid 1px #FFB3B3;
}

.no-window-content .led-container {
    width: auto;
    display: inline-block;
    border: solid 1px #ddd;
    padding-bottom: 5px;
}

.no-window-content .led-label {
    border: none;
    box-shadow: none;
    background: none;
    font-size: 12px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
    font-family: Arial,Helvetica,sans-serif;
}

/******************************************************************************
 ** Rotary Switch                                                            **
 ******************************************************************************/

.rotary-switch-container {
    margin: 25px auto 25px auto;
	position: relative;
    border-radius: 50%;
    border-bottom: 1px solid #fff;
    background-image: -webkit-linear-gradient(top, #dadada, #eee);
    background-image: -moz-linear-gradient(top, #dadada, #eee);
    background-image: -ms-linear-gradient(top, #dadada, #eee);
    background-image: -o-linear-gradient(top, #dadada, #eee);
}

.rotary-switch {
	margin: 0px;
	position: absolute;
	left: 8%;
	top: 8%;
	bottom: 8%;
	right: 8%;
	border-radius: 50%;
	transition: .6s;
	background-size: 106%;
	background-position: 40% 15%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5),inset 0px 2px 3px 1px rgba(255, 255, 255, 0.25);
}

.rotary-white {
    background-image: url('/webui/images/skeuo/rotary-switch-white.png');
}

.rotary-black {
    background-image: url('/webui/images/skeuo/rotary-switch-black.png');
}

.rotary-switch:before {
	display: block;
	content: "";
	width: 2px;
	height: 18%;
	background: #CECECE;
	margin: 0% auto;
    position: relative;
    left: 1px;
}

.rotary-switch-val {
	position: absolute;
	cursor: pointer;
    font-size: 10px;
    color: #727272;
    text-shadow: 1px 1px 1px #bebebe;
}

.no-window-content .rotary-container {
    border: solid 1px rgba(0, 0, 0, 0);
    margin: 5px;
    display: inline-block;
    float: left;
}

/******************************************************************************
 ** Slider                                                                   **
 ******************************************************************************/

.slider-scale {
    font-size: 10px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
}

.slider-post-vertical {
    left: 25px;
    top: 6px;
    width: 8px;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.7);
    background: #575757;
}

.slider-post-horizontal {
    left: 6px;
	top: 23px;
	height: 8px;
	width: 100%;
	border-radius: 20px;
	box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.7);
	background: #575757;
}

.slider-knob-slice {
    display: none;
}

.slider-knob {
	position: absolute;
	border: solid 1px #555;
    border-radius: 20%;
    cursor: pointer;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.slider-knob-horizontal {
	top: 25%;
	margin-left: -10px;
    height: 18px;
    width: 33px;
    background-image: -webkit-linear-gradient(top, #F0F0F0, #888);
    background-image: -moz-linear-gradient(top, #F0F0F0, #888);
    background-image: -ms-linear-gradient(top, #F0F0F0, #888);
    background-image: -o-linear-gradient(top, #F0F0F0, #888);
}

.slider-knob-horizontal:before {
    content: '';
    background: #bbb;
    border-radius: 20%;
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    box-shadow: 0px 3px 5px 1px #666;
}

.slider-knob-horizontal:after {
    content: '';
    border-radius: 20%;
    position: absolute;
    top: -1%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0px 2px 5px 1px #999;
    border-top: solid 1px #777;
    background: rgb(168,168,168);
    background: -moz-linear-gradient(left,  rgba(168,168,168,1) 2%, rgba(255,255,255,1) 20%, rgba(243,243,243,1) 22%, rgba(178,178,178,1) 47%, rgba(155,0,0,1) 50%, rgba(245,245,245,1) 53%, rgba(214,214,214,1) 79%, rgba(255,255,255,1) 88%, rgba(156,156,156,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: -o-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: -ms-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: linear-gradient(to right,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#9c9c9c',GradientType=1 );
}

.slider-knob-vertical {
    left: 20%;
    margin-top: -10px;
    height: 33px;
    width: 18px;
    box-shadow: 0px 1px 2px 0px #666;
    background-image: -webkit-linear-gradient(top, #F0F0F0, #888);
    background-image: -moz-linear-gradient(top, #F0F0F0, #888);
    background-image: -ms-linear-gradient(top, #F0F0F0, #888);
    background-image: -o-linear-gradient(top, #F0F0F0, #888);
}

.slider-knob-vertical:before {
    content: '';
    background: #bbb;
    border-radius: 20%;
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    box-shadow: 0px 0px 5px 1px #666;
}

.slider-knob-vertical:after {
    content: '';
    border-radius: 20%;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0px 0px 5px 1px #bebebe;
    background: rgb(211,211,211);
    background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(255,255,255,1) 12%, rgba(214,214,214,1) 21%, rgba(245,245,245,1) 47%, rgba(155,0,0,1) 50%, rgba(178,178,178,1) 53%, rgba(243,243,243,1) 78%, rgba(255,255,255,1) 80%, rgba(168,168,168,1) 98%);
    background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: -o-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: -ms-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: linear-gradient(to bottom,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#a8a8a8',GradientType=0 );
}

.slider-text label {
	border: 0 !important;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
    line-height: 19px;
	font-size: 12px;
    color: #727272;
    text-shadow: 1px 1px 1px #bebebe !important;
	background: rgba(255, 255, 255, 0) !important;
	font-family: Arial,Helvetica,sans-serif;
	text-align: right;
}

.slider-text-vertical input, .slider-text-horizontal input{
    float: right !important;
    box-shadow: inset 1px -1px 3px 1px #A3A3A3;
    border: solid 1px #FFF !important;
}

.slider-text-vertical input {
    margin: 0 auto!important;
    width: 87%;
}

.slider-text-vertical label {
    position: relative;
    left: -4px;
    top: -550px;
    background: #FFF !important;
    width: 70px !important;
}

.slider-text-vertical input {
    left: 9px;
    top: -257px;
}

.slider-container .slider-text-horizontal .slider-text-label {
    position: relative;
    left: -30%;
    background: #FFF !important;
    width: auto !important;
}

.no-window-content .slider-container-horizontal {
    border: solid 1px #ddd;
    margin: 10px;
    padding: 5px 30px 10px 25px;
    display: inline-block;
    float: left;
}

.no-window-content .slider-container-vertical {
    border: solid 1px #DDD;
    margin: 10px;
    padding: 15px 0px 10px 10px;
    display: inline-block;
}

.no-window-content .slider-outer {
    position: relative;
}

.no-window-content .slider-text-horizontal, .no-window-content .slider-text-vertical {
    margin-top: 0 !important;
}

.no-window-content .slider-container-horizontal .slider-text label {
    padding: 0px 5px !important;
    width: auto !important;
    display: inline-block;
    background: #FFF !important;
    position: relative;
    top: -90px;
    left: -35%;
}

.no-window-content .slider-container-vertical .slider-text label {
    padding: 0px 5px !important;
    width: auto !important;
    display: inline-block;
    background: #FFF !important;
    position: relative;
    top: -281px;
    left: -7%;
}

.no-window-content .slider-container-horizontal .slider-outer {
    top: 0px !important;
    left: -4px;
}

.no-window-content .slider-container-horizontal .slider-text input {
    position: relative;
    bottom: -4px;
    right: -11%;
    width: 70px;
}

.no-window-content .slider-text-vertical input {
    width: 70px !important;
    margin: 10px 4px -5px auto !important;
    display: inline-block;
}

.no-window-content .slider-knob-vertical {
    left: 23%;
}
