/**
 * Flat theme for Web User Interface Widget Library.
 *
 * @author Michael Diponio <michael.diponio@uts.edu.au>
 * @date 20th November 2013
 */

.window-wrapper {
	background: #fafafa;
    border-radius: 10px;
    border: 1px solid #aaa;
    margin: 4px;
    -moz-box-shadow: 0 1px 3px #B5B5B5;
    -webkit-box-shadow: 0 1px 3px #B5B5B5;
    box-shadow: 0 1px 3px #B5B5B5;
}

.window-content, .tab-content {
	border: solid 1px #C0C0C0;
    border-radius: 0 0 10px 10px;
}

.window-header .ui-icon, .tab-wrapper-controls .ui-icon {
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #ddd;
    cursor: pointer;
}

.window-header .ui-icon:hover, .tab-wrapper-controls .ui-icon:hover {
    box-shadow: 0 0 2px #999;
}

.window-icon {
	background-image: url('/webui/images/flat-icons.png');
	opacity: 0.8;
}

.window-title {
	color: #666666;
}

/******************************************************************************
 ** Switch                                                                   **
 ******************************************************************************/
 .switch-container {
    height: 30px;
    width: 100px;
}
 
.switch-label {
    display: block;
    float: left;
    margin: 3px 5px 0 0;
    text-align: right;
}
 
.switch {
    height: 20px;
    width: 40px;
    margin-top: 2px;
    background: #f5f5f5;
    border: solid 1px #ddd;
    border-radius: 20px;
    float: right;
    cursor: pointer;
}

.switch-slide {
    height: 14px;
    width: 14px;
    background: #ccc;
    margin: 2px;
    border-radius: 10px;
}

.switch-animated {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.switch-on {
    background-color: #757575;
    box-shadow: 0 0 2px #999999;
    float:right; 
    border: 1px solid #4d4c4c;   
}
