/**
 * Flat theme for Web User Interface Widget Library.
 *
 * @author Michael Diponio <michael.diponio@uts.edu.au>
 * @date 20th November 2013
 */

.window-wrapper {
	background: #fafafa;
    border-radius: 10px;
    border: 1px solid #aaa;
    margin: 4px;
    -moz-box-shadow: 0 1px 3px #B5B5B5;
    -webkit-box-shadow: 0 1px 3px #B5B5B5;
    box-shadow: 0 1px 3px #B5B5B5;
}

.window-content, .tab-content {
	border: solid 1px #C0C0C0;
    border-radius: 0 0 10px 10px;
}

.window-header .ui-icon, .tab-wrapper-controls .ui-icon {
    border: 1px solid #ddd;
    box-shadow: 0 0 2px #ddd;
    cursor: pointer;
}

.window-header .ui-icon:hover, .tab-wrapper-controls .ui-icon:hover {
    box-shadow: 0 0 2px #999;
}

.window-icon {
	background-image: url('/webui/images/flat-icons.png');
	opacity: 0.8;
}

.window-title {
	color: #666666;
}

#widget-toggle-list .switch-label {
    color: #666666;
}

#page-reset-button {
	width: 140px;
}

#page-reset-button .button {
    box-shadow: none;
    font-weight: normal;
    color: #666666;
}


/******************************************************************************
 ** Tabs                                                                     **
 ******************************************************************************/

.tab {
    float: left;
    margin: -1px 2px;
    padding: 5px 10px 2px 10px;
    height: 20px;
    background-color: #FAFAFA;
    border: 1px solid #AAAAAA;
    box-shadow: 0 -1px 2px #AAAAAA; 
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    text-align: center;
    color: #666666;
}

.tab-active {
    border: 1px solid #333333;
    background-color: #333333;
    box-shadow: 0 -1px 4px #333333; 
    color: #EFEFEF;
    font-weight: bold;
}

.tab-footer {
	clear: both;
	border-bottom: 3px solid #333333;
	box-shadow: 0 1px 2px #333333;
}

/******************************************************************************
 ** Button, Push Button                                                      **
 ******************************************************************************/

.button {
	padding: 2px;
    border-radius: 4px;
    border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
	background-color: #EFEFEF;
	cursor: pointer;
	width: 100%;
	height: 100%;
	font-weight: bold;
	text-align: center;
}

.button:hover {
    box-shadow: 0 0 4px #555555;
}

.button-engaged {
	background-color: #FE6F5E;
}



/******************************************************************************
 ** Slider                                                                   **
 ******************************************************************************/


/******************************************************************************
 ** Switch                                                                   **
 ******************************************************************************/
 
.switch-label, .led-adjacent .led-label {
    display: block;
    float: left;
    margin: 3px 5px 0 7px;
    text-align: right;
}
 
.switch {
    height: 20px;
    width: 40px;
    background: #f5f5f5;
    border: solid 1px #ddd;
    border-radius: 20px;
    float: right;
    cursor: pointer;
}

.switch-slide {
    height: 14px;
    width: 14px;
    background: #ccc;
    margin: 2px;
    border-radius: 10px;
}

.switch-animated {
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.switch-on {
    background-color: #757575;
    box-shadow: 0 0 2px #999999;
    float:right; 
    border: 1px solid #4d4c4c;   
}


/******************************************************************************
 ** Rotary Switch                                                            **
 ******************************************************************************/

.rotary-switch-container {
    margin: 30px;
    margin-top: 25px;
    position: relative;
    border-radius: 50%;
    border-bottom: 1px solid #fff;
    background-image: -webkit-linear-gradient(top, #dadada, #eee);
    background-image: -moz-linear-gradient(top, #dadada, #eee);
    background-image: -ms-linear-gradient(top, #dadada, #eee);
    background-image: -o-linear-gradient(top, #dadada, #eee);
}

.rotary-switch {
    margin: 0px;
    position: absolute;
    left: 8%;
    top: 8%;
    bottom: 8%;
    right: 8%;
    border-radius: 50%;
    transition: .6s;
    background-size: 106%;
    background-position: 40% 15%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5),inset 0px 2px 3px 1px rgba(255, 255, 255, 0.25);
}

.rotary-white {
    background-image: url('/webui/images/skeuo/rotary-switch-white.png');
}

.rotary-black {
    background-image: url('/webui/images/skeuo/rotary-switch-black.png');
}

.rotary-switch:before {
    display: block;
    content: "";
    width: 2px;
    height: 18%;
    background: #CECECE;
    margin: 0% auto;
    position: relative;
    left: 1px;
}

.rotary-switch-val {
    position: absolute;
    cursor: pointer;
    font-size: 12px;
}


/******************************************************************************
 ** LED                                                                      **
 ******************************************************************************/
.led-below .led-label {
	display: block;
	text-align: center;
}
 
.led {
	height: 20px;
	width: 20px;
	border-radius: 11px;
}

.led-below .led {
	margin: 5px auto;
}

.led-adjacent .led {
	float: right;
}

.led-novalue {
	border: 1px solid #B5B5B5;
	background-color: #EFEFEF;
	box-shadow: 0 0 2px #B4B4B4;
}

.led-on {
	border: 1px solid #79B864;
    background-color: #A2DEA7;
    box-shadow: 0 0 2px #B4B4B4;
}

.led-off {
	border: 1px solid #A01D1D;
    background-color: #D76666;
    box-shadow: 0 0 2px #B4B4B4;
}
