/**
 * Web User Interface Widget Library.
 * 
 * @author Michael Diponio
 * @author Jesse Charlton
 * @date 18th Novermber 2013
 */
 
/******************************************************************************
 ** Overrides Old layout elements                                            **
 ******************************************************************************/
 
 #sessioninfo {
    margin: 4px 0 0 !important;
}

.contentheader {
    display: none !important;
}

/******************************************************************************
 ** Styles for Mobile devices                                                **
 ******************************************************************************/
@media handheld, only screen and (max-width: 480px) {
    .spin {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -ms-animation: none !important;
        -o-animation: none !important;
        animation: none !important;
    }
}

/******************************************************************************
 ** Windows                                                                  **
 ******************************************************************************/
.window-wrapper {
    position: absolute !important;
}

.window-expanded {
    box-shadow: 0 0 20px #666666 !important;
}

.dragged {
    border: 2px dashed #8CE2FF;
}

.draggable-header {
    cursor: move;
}

.window-header {
    height: 19px;
    font-size: 24px;
    padding: 5px 10px;
    color: #525252;
    font-size: 15px;
}

.window-icon {
	float: left;
    height: 24px;
    width: 26px;
    display: inline-block;
    background-repeat: no-repeat;
}

.window-title {
    position: relative;
    left: 10px;
    padding-right: 10px;
    color: #666;
    top: 2px;
    margin: 0 5px 0 -4px;
}

.window-header .ui-icon {
    float: right;
    margin: 2px 3px;
}

.window-content, .tab-content {
    position: relative;
    padding: 10px 10px 6px 10px;
    margin: 5px;
    background: #FFF;
}

.window-content {
    overflow: hidden;
}

.resizable {
    min-width: 145px;
    min-height: 50px;
}

.data-blur {
    background-color: #F0F0F0;
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.window-header-shade {
    height: 25px !important;
}

.ui-resizable-se {
    z-index: 0 !important;
}

.no-window-content {
	position: absolute;
}

/******************************************************************************
 ** Tabs                                                                     **
 ******************************************************************************/


.tab-bar {
	position: relative;
}

.tab-bar-left {
	float: left;
}

.tab-bar-right {
	float: right;
}

.tab {
}

.tab-bar-top .tab {
}

.tab-bar-top .tab:hover {
}

.tab-bar-bottom .tab {
}

.tab-bar-bottom .tab:hover {
}

.tab-bar-left .tab {
}

.tab-bar-left .tab:hover {
}

.tab-bar-right .tab {
}

.tab-bar-right .tab:hover {
}

.tab-active {
}

.tab-bar-top .tab-active{
}

.tab-bar-bottom .tab-active {
}

.tab-bar-left .tab-active {
}

.tab-bar-right .tab-active {
}

.tab-footer {
	clear: both;
}

.tab-post {
	position: absolute;
	top: 0;
	width: 0;
	clear: both;
}

/******************************************************************************
 ** Spacers                                                                  **
 ******************************************************************************/
 
.spacer-inner {
	width: 100%;
	height: 100%;
}

/******************************************************************************
 ** Graphs                                                                   **
 ******************************************************************************/

.graph-canvas-box {
    border: 1px solid #888;
    margin: 30px 0 40px 50px;
    border-radius: 3px;
    box-shadow: 0 0 1px #333333;
    background: #242424; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzI0MjQyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #242424 37%, #0f0f0f 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(37%,#242424), color-stop(99%,#0f0f0f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #242424 37%,#0f0f0f 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #242424 37%,#0f0f0f 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #242424 37%,#0f0f0f 99%); /* IE10+ */
    background: linear-gradient(135deg,  #242424 37%,#0f0f0f 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242424', endColorstr='#0f0f0f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.graph-labels {
    position: absolute;
    right: 0px;
    color: #777777;
}

.graph-label {
    float: left;
    margin: 5px 8px;
}

.graph-label .slide {
    margin: 2px;
    height: 12px;
    width: 12px;
    border-radius: 15px;    
}

.graph-label-text {
    float: left;
    margin-right: 5px;
    color: #777777;
    font-size: 12px;
    cursor: pointer;
}

.graph-label .switch {
    float: left !important;
    margin-top: -3px !important;    
}

.graph-label-color-box {
    float: right;
    margin: 0px -5px 0 5px;
    width: 12px;
    height: 12px;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-shadow: 0 0 1px #333333;
}

.graph-label-color-line {
    width: 25px;
    height: 3px;
    margin-top: 9px;
}

.graph-clear {
    clear: both;
}

.graph-left-scales {
    position: absolute;
    left: 15px;
}

.graph-left-scales div {
    position: absolute;
    width: 40px;
    color: #666;
    text-align: right;
    font-size: 12px;
}

.graph-bottom-scales {
    position: relative; 
    margin: -35px 0 40px 44px;
}

.graph-bottom-scales div {
    position: absolute;
    color: #666;
    text-align: right;
    font-size: 12px;
}

.graph-bottom-scale-0 {
    margin-left: 10px;
}

.graph-bottom-scale-last {
    margin-left: -10px;
}

.graph-axis-label {
    position: absolute;
    color: #777777;
    text-align: center;
    font-size: 13px;
}

.graph-left-axis-label {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.graph-bottom-axis-label {
    position: relative;
    left: 0;
    top: 20px;
    width: 100%;
    margin: 0 auto;
}

.graph-controls-show {
    float: right;
    width: 100px;
    margin-top: 5px;
    z-index: 10;
}

.graph-no-controls {
	margin-top: 20px;
}

.graph-controls-show label {
    margin-top: 4px;
}

.graph-controls {
    display: none;
    height: 60px;
    margin-top: 20px;
}

.graph-autoscale {
    width: 110px;
    margin: 15px 0 0 10px;
}

.graph-autoscale label {
    margin-top: 5px;
}

/******************************************************************************
 ** Slider                                                                   **
 ******************************************************************************/

.slider-scale-value {
    font-size: 12px;
}

.slider-outer {
    position: absolute;
    top: 10px;
     -moz-user-select: none;
    -webkit-user-select: none;
    -ie-user-select: none;
    user-select: none;
    width: 100%;
    height: 70px;
}

.slider-post {
    position: absolute;
    border: 1px solid #666;
    box-shadow: inset 0px 1px 3px #818181;
    background-color: #fff;
    border-radius: 5px;
}

.slider-post-vertical {
    left: 25px;
    top: 6px;
    width: 10px;
    height: 100%;
}

.slider-post-horizontal {
    left: 6px;
    top: 23px;
    height: 12px;
    width: 100%;
}

.slider-scales {
    position: absolute;
}

.slider-scales-vertical {
    left: 35px;
    top: 0;
}

.slider-scales-horizontal {
    left: 0;
    top: 35px;
}

.slider-scale {
    position: absolute;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider-scales-vertical .slider-scale {
    left: 0;
    width: 50px;
}

.slider-scales-vertical .slider-scale .ui-icon {
    float: left;
    margin-right: 5px;
}

.slider-scales-horizontal .slider-scale {
    top: 0;
}

.slider-knob {
    position: absolute;
    z-index: 2;
}

.slider-knob-vertical {
    left: 4px;
}

.slider-knob-horizontal {
    top: 4px;
}

.slider-knob-slice {
    position: absolute;
    background-color: #555555;
}

.slider-knob-slice {
    box-shadow: 0 0 2px #555555;
    border-color: #444444;
    cursor: pointer;
}

.slider-knob-slice:hover {
    box-shadow: 0 0 4px #555555;
    border-color: #333333;
}

.slider-knob-vertical .slider-knob-slice {
    border-top: 2px;
    border-bottom: 2px;
    width: 1px;
}

.slider-knob-vertical .slider-knob-back {
    height: 15px;
    width: 20px;
    border-radius: 5px 0 0 5px;
}

.slider-knob-vertical .slider-knob-slice-0 {
    height: 13px;
    left: 20px;
    top: 1px;
}

.slider-knob-vertical .slider-knob-slice-1 {
    height: 11px;
    left: 21px;
    top: 2px;
}

.slider-knob-vertical .slider-knob-slice-2 {
    height: 9px;
    left: 22px;
    top: 3px;
}

.slider-knob-vertical .slider-knob-slice-3 {
    height: 7px;
    left: 23px;
    top: 4px;
}

.slider-knob-vertical .slider-knob-slice-4 {
    height: 5px;
    left: 24px;
    top: 5px;
}

.slider-knob-vertical .slider-knob-slice-5 {
    height: 3px;
    left: 25px;
    top: 6px;
}

.slider-knob-vertical .slider-knob-slice-6 {
    height: 1px;
    left: 26px;
    top: 7px;
}

.slider-knob-vertical .slider-knob-slice-7 {
    height: 0px;
    left: 27px;
    top: 8px;
}

.slider-knob-vertical .slider-knob-slice-8 {
    height: 0px;
    left: 28px;
    top: 9px;
    border-bottom: 0;
}

.slider-knob-horizontal .slider-knob-slice {
    border-left: 2px;
    border-right: 2px;
    height: 1px;
}

.slider-knob-horizontal .slider-knob-back {
    width: 15px;
    height: 17px;
    border-radius: 5px 5px 0 0;
    border-top: 3px solid #7C7C7C;
}

.slider-knob-horizontal .slider-knob-slice-0 {
    width: 13px;
    top: 20px;
    left: 1px;
}

.slider-knob-horizontal .slider-knob-slice-1 {
    width: 11px;
    top: 21px;
    left: 2px;
}

.slider-knob-horizontal .slider-knob-slice-2 {
    width: 9px;
    top: 22px;
    left: 3px;
}

.slider-knob-horizontal .slider-knob-slice-3 {
    width: 7px;
    top: 23px;
    left: 4px;
}

.slider-knob-horizontal .slider-knob-slice-4 {
    width: 5px;
    top: 24px;
    left: 5px;
}

.slider-knob-horizontal .slider-knob-slice-5 {
    width: 3px;
    top: 25px;
    left: 6px;
}

.slider-knob-horizontal .slider-knob-slice-6 {
    width: 1px;
    top: 26px;
    left: 7px;
}

.slider-knob-horizontal .slider-knob-slice-7 {
    width: 0px;
    top: 27px;
    left: 8px;
}

.slider-knob-horizontal .slider-knob-slice-8 {
    width: 0px;
    top: 28px;
    left: 9px;
    border-right: 0;
}

.slider-text {

}

.slider-text-vertical {
    width: 80px;
}

.slider-text-horizontal {
    margin: 80px 5px 10px;
    float: right;    
}

.slider-text label {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ie-user-select: none;
    user-select: none;
}

.slider-text-vertical label {
    width: 45px !important;
}

.slider-text-horizontal label {
	width: 145px !important;
	text-align: right;
}

.slider-text input {
    width: 40px;
    text-align: right;
}

/******************************************************************************
 ** Camera                                                                   **
 ******************************************************************************/

.camera-stream {
    position: absolute;
    left: 5px;
    top: 1px;
}

.camera-stream .window-content {
    padding: 0;
    background: #242424;
    border-bottom: solid 1px #868686;
}

.camera-stream .video-player {
    background-color: #333;
    border-bottom: 1px solid #464646;
    box-shadow: 1px 3px 10px #0C0C0C;
}

.camera-stream .video-placeholder {
    color: #AAAAAA;
    font-size: 11pt;
    text-align: center;
    padding-top: 90px;
}

.camera-stream .format-select-label {
    float: right;
    width: 40px;
    margin: 10px 4px;
    font-size: 0.8em;
    color: #ddd;
}

.camera-stream .format-select select {
    color: #777777;
    text-shadow: 1px 1px 1px #FFF;
    width: 150px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.2;
    border: 0;
    border-radius: 0;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ie-appearance: none;
    appearance: none;
    cursor: pointer;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5YjhiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(185,184,184,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,184,184,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b8b8', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

.camera-stream .format-select {
    float: right;
    margin: 4px;
    width: 110px;
    height: 25px;
    overflow: hidden;
    background: url('/uts/coupledtanksnew/images/arrow-down.png') no-repeat right #F3F3F3;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
}

.camera-stream .metro-check {
    position: relative;
    top: -1px;
    left: 7px;
    height: 0px;
    cursor: pointer;
    font-size: 11px;
    color: #35BEFF;
    text-shadow: 1px 1px 1px #000;
}

.camera-stream .metro-icon {
    height: 23px;
    top: 6px;
    padding-right: 5px;
    position: relative;
}

.camera-stream .metro-image {
    background: url('/uts/coupledtanksnew/images/metro-help-menu.png') no-repeat    
}

.camera-stream .metro-image-settings {
    width: 42px;
    height: 42px;
    background-position: -1px -1px;
    margin: 5px 0px -20px 100px;
}

.camera-stream .metro-image-desktop {
    width: 184px;
    height: 47px;
    background-position: -45px 0px;
    margin: 10px 0px 0px 30px;
}

.camera-stream .metro-container {
    background: #fff;
    position: absolute;
    top: 10px;
    width: 85%;
    left: 5%;
    height: 70%;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 12px;
    color: #383838;
    overflow: hidden;
    border: solid 1px #CCC;
    -moz-box-shadow: 0 1px 3px #333333;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    display: none;
}

.camera-stream .metro-container p {
    font-size: 11px;
}

.camera-stream .no-flash-container {
    height: 100%;
    background: #2B2B2B;
    border: solid 1px #C0C0C0;
    border-top: none;
    text-align: center;
}

.camera-stream .no-flash-button {
    width: 60%;
    height: 20%;
    text-align: left;
    cursor: pointer;
}

.camera-stream .no-flash-button-text {
    position: absolute;
    top: 32%;
    left: 24%;
    color: #e4e4e4;
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;
}

.camera-stream .no-flash-button-text:hover {
    color: #fff;
}

.camera-stream .no-flash-image {
    height: 98%;
    padding: 0% 2%;
    margin: 1%;
    position: relative;
    background-color: #B81519;
    border: solid 1px #999;
    top: 140%;
    left: 7%;
    border-radius: 4px;
}

.camera-stream .no-flash-image:hover {
    background-color: #CF181D;   
}

.camera-stream .no-flash-substring {
    color: #a7a7a7;
    font-size: 10px;
    padding: 5%;
    text-align: justify;
    position: absolute;
    bottom: 28px;
}

/******************************************************************************
 ** Global Error                                                             **
 ******************************************************************************/
 
#global-error {
	position: absolute;
	top: 150px;
	left: 150px;
}
 
#global-error .global-error-container {
    width: 350px;
    display: block;
    position: absolute;
    padding: 25px;
    color: #cd0a0a;
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #575757;
    margin: 15% 25%;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    z-index: 110;
}

#global-error .global-error-log {
    font-size: 11px;
    color: #7e7e7e;
    border-top: 1px solid #E4D3B0;
    padding-top: 5px;
}

#global-error .global-error-heading {
    padding-left: 5px;
    font-size: 20pt;
    font-style: oblique;
    font-weight: bold;
}

#global-error .global-error-message {
    padding: 15px 0px 15px 0px;
    font-size: 13px;
}

#global-error .global-error-container .ui-icon {
    background-image: url('/uts/coupledtanksnew/images/ui-icons-red.png') !important;
    margin-top: 8px;
}

#global-error .global-error-container .window-close {
    margin: -15px -13px 0;
}

#global-error .global-error-icon {
    float: left;
    margin-right: 5px;
}

#global-error .global-error-close {
    float: right;
    cursor: pointer;
    border: 1px solid #B1A3A3;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #BEBDBD;
    margin: -8px -8px 0px -1px;
}

#global-error .global-error-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1001;
    overflow: hidden;
}

.global-error-blur {
    opacity: 0.3;
}

/******************************************************************************
 ** Widget Toggle List                                                       **
 ******************************************************************************/
 
#widget-toggle-list.window-wrapper {
	box-shadow: 0 0 0 #FFF;
	border-radius: 0 0 4px 0;
}

/******************************************************************************
 ** Specific icons                                                           **
 ******************************************************************************/
 
.icon_video {
    background-position: 0px 0px;
}

.icon_pid {
    background-position: -26px 0px;
}

.icon_mimic {
    background-position: -52px 0px;
}

.icon_graph {
    background-position: -78px 0px;
}

.icon_toggle {
    background-position: -105px 0px;
}

.icon_manual {
    background-position: -131px 0px;
}

.icon_settings {
    background-position: -157px 0px;
}

.icon_drain {
    background-position: -183px 0px;
}

.icon_datafiles{
    background-position: -208px 0px;
}


/******************************************************************************
 ** Data Logging Widget                                                      **
 ******************************************************************************/
 
.data-controls {
    margin-top: -8px;
}

.data-controls .data-control-line {
    margin: 5px 0;
}

.data-controls .data-control-line label {
    display: block;
    width: 60px;
    float: left;
    text-align: right;
    padding-right: 5px;
}

.data-enable-line label {
    margin-top: 5px;
}

.data-format-line label {
    margin-top: 9px;
}

.data-controls .switch {
    float: left;
} 

.data-format-outer {
    float: left;
    margin: 4px;
    width: 75px;
    height: 25px;
    overflow: hidden;
    background: url('/webui/images/arrow-down.png') no-repeat right #F3F3F3;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.data-format {
    background: rgba(0, 0, 0, 0);
    color: #777777;
    width: 100px;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border: none;
    outline: none;
    outline-width: 0;
    border-radius: 0;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ie-appearance: none;
    appearance: none;
    cursor: pointer;
}

.data-list-placeholder {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #AAAAAA;
}

.data-logging .data-logger-blur {
    opacity: 0.3;
}

.data-duration {
    float: right;
    margin-top: 6px;
    text-align: center;
    font-size: 0.9em;
}

.data-files-list {
    list-style: none;
    overflow-y: auto;
}

.data-files-list li {
    margin: 5px 3px 5px 0;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background-color: #FEFEFE;
    overflow-x: hidden;
}

.data-files-list li a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 4px;
    color: #AAAAAA;
    text-decoration: none;
    cursor: inherit;
}

.data-files-list li.data-file-downloadable {
    border: 1px solid #888888;
    background-color: #FAFAFA;
    box-shadow: 0 0 4px #EFEFEF;
}

.data-files-list .data-file-downloadable:hover {
    box-shadow: 0 0 4px #AAAAAA;    
}

.data-files-list .data-file-downloadable a {
    color: #333333;
    cursor: pointer;
}

.data-files .data-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/webui/images/csv-excel-icons.png');
    margin: 0 10px -3px 1px;
    opacity: 0.4;
}

.data-file-downloadable .data-icon {
    opacity: 1;
}

.data-files .data-icon-CSV{
    background-position: 0px 0px;
}

.data-files .data-icon-XLS {
    background-position: -20px 0px;
}

.data-files .data-icon-XLSX {
    background-position: -39px 0px;
}

