/**
 * Skeuomorphic theme for WebUI widget library.
 *
 * @author Michael Diponio <michael.diponio@uts.edu.au>
 * @author Jesse Charlton <jesse.charlton@uts.edu.au>
 * @date 20th November 2013
 */

@font-face {
	font-family: 'impact-label';
	src: url('/webui/images/impact-label.ttf')  format('truetype');
	}

.window-wrapper {
    background: #FAFAFA;
    border-radius: 10px;
    border: 1px solid #DDD;
    margin: 4px;
    -moz-box-shadow: 0 2px 6px #D3D3D3;
    -webkit-box-shadow: 0 2px 6px #D3D3D3;
    box-shadow: 0 2px 6px #D3D3D3;
}

.window-content, .tab-content {
    border: solid 1px #ccc;
    border-radius: 0 0 10px 10px;
    border: solid 1px #C4C4C4;
    box-shadow: inset 1px 1px 5px #D1D1D1;
    background: rgb(243,243,243); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(243,243,243,1) 0%, rgba(250,250,250,1) 110%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(243,243,243,1)), color-stop(110%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 110%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 110%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 110%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(243,243,243,1) 0%,rgba(250,250,250,1) 110%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fafafa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.window-header .ui-icon, .tab-wrapper-controls .ui-icon {
    border: 1px solid #FFF;
    box-shadow: 0 0 2px #FFF;
    cursor: pointer;
}

.window-header .ui-icon:hover, .tab-wrapper-controls .ui-icon:hover {
    box-shadow: 0 0 2px #FFF;
}

.window-icon {
	background-image: url('/webui/images/skeuo-icons.png');
	opacity: 0.8;
}

.window-title {
	color: #666666;
}

.window-wrapper label, .no-window-content label {
    display: block;
    text-align: center;
    padding: 0px 8px;
    border-left: 1px dashed #6B6B6B;
    border-right: 1px dashed #6B6B6B;
    font-family: "impact-label", "Lucida Console", Monaco, monospace;
    box-shadow: 1px 1px 1px #A3A3A3;
    font-size: 18px;
    line-height: 23px;
    text-shadow: 0px 1px 2px #B9B9B9;
    color: #E7E7E7;
    background: #353535;
    background: url('/webui/images/skeuo/label-texture.png');
}

.contentheader {
    margin-top: 15px !important;
}

.contentheader h2 {
    position: relative;
    top: -55px;
    color: #353535;
    font-weight: 200 !important;
    font-size: 21px !important;
    text-shadow: 2px 2px 3px #bbb !important;
}

#warningmessage {
    top: -50px;
    position: relative;
}

.no-window-content {
    border: none;
}

/******************************************************************************
 ** Button, Push Button                                                      **
 ******************************************************************************/

.button {
    padding: 10px;
    border-radius: 8px;
    width: 85%;
    height: 100%;
    cursor: pointer;
	text-align: center;
	position:relative;
	font-weight: bold;
	font-size: 100%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.66);
	color: #fff;
	background-image: url('/webui/images/skeuo/label-texture-button.png');
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1.2em 0 rgba(255, 255, 255, 0.1),
        inset 0 -.2em 0 rgba(255, 255, 255, 0.1), inset 0 -.25em 0 rgba(0, 0, 0, 0.25), 0 .25em .25em rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-overlay:after {
	height: 100%;
	width: 100%;
	content: '';
	background-image: url('/webui/images/skeuo/button.png');
	background-size: 100% 94%;
	background-repeat: no-repeat;
    position: absolute;
	display: block;
	border-radius: 4px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.button:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.1),inset 0 1.2em 0 rgba(255, 255, 255, 0.14),
        inset 0 -.2em 0 rgba(255, 255, 255, 0.1), inset 0 -.25em 0 rgba(0, 0, 0, 0.25), 0 .25em .25em rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.button-engaged, .button:active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.1), inset 0 1.2em 0 rgba(255, 255, 255, 0.05),
        inset 0 0 0 3em rgba(255, 255, 255, 0.2), inset 0 .25em .5em rgba(0, 0, 0, 0.05), 0 -1px 1px rgba(0, 0, 0, 0.1),
            0 1px 1px rgba(255, 255, 255, 0.25);
    outline: none;
    padding-bottom: .5em;
    margin-top: 3px;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.push-button-container {
    box-shadow: inset 0px 4px 4px #999595;
    margin: 15px auto 5px auto;
    position: relative;
    border-radius: 50%;
    border-bottom: 1px solid #FFF;
    background-image: -webkit-linear-gradient(top, #DADADA, #EEE);
    height:100px;
    width:100px;
}

.push-button-outer:hover {
    box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.33);
}

.push-button-outer:active {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
}

.push-button-middle {
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    border-radius: 50%;
    box-shadow: inset 0px -5px 5px rgba(255, 255, 255, 0.1), inset 0px 2px 5px rgba(0, 0, 0, 0.1);
    background: rgb(197,197,197); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(197,197,197,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(197,197,197,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(197,197,197,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(197,197,197,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(197,197,197,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(197,197,197,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c5c5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    box-shadow: inset 0 -4px 5px rgba(255, 255, 255, 0.39);
}

.push-button-outer {
    position: absolute;
    top: 9%;
    right: 9%;
    left: 9%;
    bottom: 9%;
    border-radius: 50%;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.33);
    cursor: pointer;
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 3%, rgba(231,231,231,0.96) 42%, rgba(182,182,182,0.79) 200%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(248,248,248,1)), color-stop(42%,rgba(231,231,231,0.96)), color-stop(200%,rgba(182,182,182,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 3%,rgba(231,231,231,0.96) 42%,rgba(182,182,182,0.79) 200%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 3%,rgba(231,231,231,0.96) 42%,rgba(182,182,182,0.79) 200%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 3%,rgba(231,231,231,0.96) 42%,rgba(182,182,182,0.79) 200%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(248,248,248,1) 3%,rgba(231,231,231,0.96) 42%,rgba(182,182,182,0.79) 200%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#c9b6b6b6',GradientType=0 ); /* IE6-9 */
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.push-button-color {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
}

.push-button-label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 100;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.39);
    color: rgba(0, 0, 0, 0.8);
    font-size: 90%;
    text-align: center;
    padding-top: 30%;
    position: absolute;
    z-index: 100;
}

.push-button-label:active {
    padding-top: 31%;
}

.push-button-red {
    background: rgba(255, 15, 15, 0.58);
    box-shadow: inset 0px 8px 10px 0px rgba(255, 0, 0, 0.22), inset 0px -8px 2px 0px rgba(94, 0, 0, 0.34),
        inset 0px 0px 2px 0px #000,inset 0px 1px 6px 0px #FFF, inset 7px 0px 5px #DB4B4B,inset -5px 0px 5px #DB4B4B;
}

.push-button-green {
    background: rgba(159, 255, 15, 0.41);
    box-shadow: inset 0px 8px 10px 0px rgba(112, 255, 0, 0.21), inset 0px -8px 2px 0px rgba(4, 94, 0, 0.34),
        inset 0px 0px 2px 0px #000,inset 0px 1px 6px 0px #FFF, inset 7px 0px 5px rgba(0, 0, 0, 0.19),inset -5px 0px 5px rgba(0, 0, 0, 0.19);
}

.push-button-yellow {
    background: rgba(255, 178, 15, 0.41);
    box-shadow: inset 0px 8px 10px 0px rgba(255, 143, 0, 0.44), inset 0px -8px 2px 0px rgba(94, 23, 0, 0.14),
        inset 0px 0px 2px 0px #000,inset 0px 1px 6px 0px #FFF, inset 7px 0px 5px rgba(0, 0, 0, 0.06),inset -5px 0px 5px rgba(0, 0, 0, 0.19);
}

.push-button-blue {
    background: rgba(15, 188, 255, 0.45);
    box-shadow: inset 0px 8px 10px 0px rgba(255, 255, 255, 0.13), inset 0px -8px 2px 0px rgba(6, 146, 201, 0.34),
        inset 0px 0px 2px 0px #000,inset 0px 1px 6px 0px #FFF, inset 7px 0px 5px rgba(0, 93, 167, 0.19),inset -5px 0px 5px rgba(0, 133, 221, 0.19);
}
/******************************************************************************
 ** Switch                                                                   **
 ******************************************************************************/
.switch-container {
    height: 30px;
    width: 115px;
}
 
.switch-label {
	float: left;
    padding: 0 4px !important;
}

.switch {
    height: 22px;
    width: 44px;
    float: right;
    border: solid 2px #d1d1d1;
    border-bottom: solid 2px #FFF;
    border-radius: 20px;
    box-shadow: inset 3px 3px 2px #292929;
    background: #575757;
    cursor: pointer;
}

.switch:before {
    display: block;
    height: 3px;
    background: #313131;
    content: '';
    position: relative;
    top: 10px;
    left: 7px;
    margin-right: 12px;
    border-bottom: 1px solid #7A7A7A;
    border-radius: 10px;
}

.switch-slide {
    height: 20px;
    width: 20px;
    position: relative;
    top: -4px;
    border: 1px solid #313131;
    border-radius: 20px;
    box-shadow: 1px 5px 7px rgba(43, 43, 43, 0.6);
    background-image: url('/webui/images/skeuo/switch-knob.png');
    background-size: 100% 100%;
}

.switch-animated {
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.switch-on {
    left: 22px;
}

.switch-vertical-container {
    position: relative;
    height: 115px;
    width: 100%;
}

.switch-vertical {
    cursor: pointer;
}

.switch-stick-base {
    position: relative;
    height: 48px;
    margin: auto;
    margin-top: 20px;
    width: 56px;
	background-image: url('/webui/images/skeuo/switch-back.png');
    background-size: 100% 100%;
}

.switch-stick {
	width: 14px;
	height: 41px;
	position: relative;
	margin: -2% 42%;
	top: -22px;
	background-size: 100% 100%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.switch-led {
	position: absolute;
	top: 30%;
	left: 5%;
    height: 8px !important;
    width: 8px !important;
}

.switch-silver-up {
	background-image: url('/webui/images/skeuo/switch-silver-up.png');
	background-size: 100% 100%;
    top: -55%;
    margin: -2% 36% !important;
}

.switch-silver-down {
	background-image: url('/webui/images/skeuo/switch-silver-down.png');
	background-size: 100% 100%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
    margin: -2% 36% !important;
}

.switch-black-up {
	background-image: url('/webui/images/skeuo/switch-black-up.png');
	background-size: 100% 100%;
    top: -55%;
    margin-left: 41.5%;
}

.switch-black-down {
	background-image: url('/webui/images/skeuo/switch-black-down.png');
	background-size: 100% 100%;
    margin-left: 41.5%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
}

.switch-red-up {
	background-image: url('/webui/images/skeuo/switch-red-up.png');
	background-size: 100% 100%;
    top: -55%;
    margin-left: 39.5%;
}

.switch-red-down {
	background-image: url('/webui/images/skeuo/switch-red-down.png');
	background-size: 100% 100%;
    box-shadow: 13px 6px 9px -4px rgba(150, 150, 150, 0.64);
    margin-left: 39.5%;
}

.no-window-content .switch-container, .no-window-content .switch-vertical-container {
    width: auto;
    display: inline-block;
    border: solid 1px rgba(255, 255, 255, 0);
    margin: 5px;
    display: inline-block;
    float: left;
}

.no-window-content .switch-vertical-label {
    border: none;
    box-shadow: none;
    background: none;
    font-size: 14px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
    font-family: Arial,Helvetica,sans-serif;
}

.no-window-content .switch-stick {
    margin: -2% 37.5%;
}

.no-window-content .switch-silver-down, .no-window-content .switch-silver-down {
    margin: -2% 38%;
}

.no-window-content .switch-led {
    top: 20% !important;
}

/******************************************************************************
 ** LED                                                                      **
 ******************************************************************************/

.led {
	height: 11px;
	width: 11px;
	border-radius: 11px;
    transition: all .1s ease-in-out;
}

.led-below .led {
	margin: 5px auto;
}

.led-adjacent .led {
	float: right;
}

.led-novalue {
	box-shadow : 0 -2px 5px 0px #fefefe , 0 2px 5px 0 #ccc;
    background: rgb(210,215,237);
    background: -webkit-linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    background: -moz-linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    background: linear-gradient(top,  #ddd 0%, #ddd 30%, #eee 82%,#efefef 100%);
    border: solid 1px #C5C5C5;
}

.led-on {
	background: -webkit-radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	background: -moz-radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	background: radial-gradient(center , ellipse cover, #F6FFDD 0% , #CFF003 80% , #BCE61D 100%);
	box-shadow: inset 0 1px 1px 0 #A3A3A3 ,inset 0 -1px 1px 0 #5C5C5C , 0 0 2px 1px #BDEB0D;
	border: solid 1px #ABD605;
}

.led-off {
	background: -webkit-radial-gradient(center , ellipse cover, #fcc 0% , #F88 60% , #F00 100%);
	background: -moz-radial-gradient(center , ellipse cover, #fcc 0% , #f88 60% , #f00 100%);
	background: radial-gradient(center , ellipse cover, #fcc 0% , #f88 60% , #f00 100%);
	box-shadow: inset 0 1px 1px 0 #555 ,inset 0 -1px 1px 0 #555 , 0 0 2px 0 #F55;
	border: solid 1px #FFB3B3;
}

.no-window-content .led-container {
    width: auto;
    display: inline-block;
    border: solid 1px #ddd;
    padding-bottom: 5px;
}

.no-window-content .led-label {
    border: none;
    box-shadow: none;
    background: none;
    font-size: 12px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
    font-family: Arial,Helvetica,sans-serif;
}

/******************************************************************************
 ** Rotary Switch                                                            **
 ******************************************************************************/

.rotary-switch-container {
    margin: 25px auto 25px auto;
	position: relative;
    border-radius: 50%;
    border-bottom: 1px solid #fff;
    background-image: -webkit-linear-gradient(top, #dadada, #eee);
    background-image: -moz-linear-gradient(top, #dadada, #eee);
    background-image: -ms-linear-gradient(top, #dadada, #eee);
    background-image: -o-linear-gradient(top, #dadada, #eee);
}

.rotary-switch {
	margin: 0px;
	position: absolute;
	left: 8%;
	top: 8%;
	bottom: 8%;
	right: 8%;
	border-radius: 50%;
	transition: .6s;
	background-size: 106%;
	background-position: 40% 15%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5),inset 0px 2px 3px 1px rgba(255, 255, 255, 0.25);
}

.rotary-white {
    background-image: url('/webui/images/skeuo/rotary-switch-white.png');
}

.rotary-black {
    background-image: url('/webui/images/skeuo/rotary-switch-black.png');
}

.rotary-switch:before {
	display: block;
	content: "";
	width: 2px;
	height: 18%;
	background: #CECECE;
	margin: 0% auto;
    position: relative;
    left: 1px;
}

.rotary-switch-val {
	position: absolute;
	cursor: pointer;
    font-size: 10px;
    color: #727272;
    text-shadow: 1px 1px 1px #bebebe;
}

.no-window-content .rotary-container {
    border: solid 1px rgba(0, 0, 0, 0);
    margin: 5px;
    display: inline-block;
    float: left;
}

.no-window-content .rotary-switch-val {
    border-radius: 4px;
    width: 23%;
    height: 15%;
    font-size: 11px;
    text-align: center;
    color: #555;
}

.no-window-content .rotary-switch-container {
    box-shadow: inset 0px 4px 4px #6F6F6F;
}

/******************************************************************************
 ** Slider                                                                   **
 ******************************************************************************/

.slider-scale {
    font-size: 10px;
    color: #727272;
    text-shadow: 1px 1px 1px #BEBEBE;
}

.slider-post-vertical {
    left: 25px;
    top: 6px;
    width: 8px;
    height: 100%;
    border-radius: 20px;
    box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.7);
    background: #575757;
}

.slider-post-horizontal {
    left: 6px;
	top: 23px;
	height: 8px;
	width: 100%;
	border-radius: 20px;
	box-shadow: inset 3px 3px 2px rgba(0, 0, 0, 0.7);
	background: #575757;
}

.slider-knob-slice {
    display: none;
}

.slider-knob {
	position: absolute;
	border: solid 1px #555;
    border-radius: 20%;
    cursor: pointer;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.slider-knob-horizontal {
	top: 25%;
	margin-left: -10px;
    height: 18px;
    width: 33px;
    background-image: -webkit-linear-gradient(top, #F0F0F0, #888);
    background-image: -moz-linear-gradient(top, #F0F0F0, #888);
    background-image: -ms-linear-gradient(top, #F0F0F0, #888);
    background-image: -o-linear-gradient(top, #F0F0F0, #888);
}

.slider-knob-horizontal:before {
    content: '';
    background: #bbb;
    border-radius: 20%;
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    box-shadow: 0px 3px 5px 1px #666;
}

.slider-knob-horizontal:after {
    content: '';
    border-radius: 20%;
    position: absolute;
    top: -1%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0px 2px 5px 1px #999;
    border-top: solid 1px #777;
    background: rgb(168,168,168);
    background: -moz-linear-gradient(left,  rgba(168,168,168,1) 2%, rgba(255,255,255,1) 20%, rgba(243,243,243,1) 22%, rgba(178,178,178,1) 47%, 
        rgba(155,0,0,1) 50%, rgba(245,245,245,1) 53%, rgba(214,214,214,1) 79%, rgba(255,255,255,1) 88%, rgba(156,156,156,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,
        rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: -o-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,
        rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: -ms-linear-gradient(left,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,
        rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    background: linear-gradient(to right,  rgba(168,168,168,1) 2%,rgba(255,255,255,1) 20%,rgba(243,243,243,1) 22%,rgba(178,178,178,1) 47%,
        rgba(155,0,0,1) 50%,rgba(245,245,245,1) 53%,rgba(214,214,214,1) 79%,rgba(255,255,255,1) 88%,rgba(156,156,156,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#9c9c9c',GradientType=1 );
}

.slider-knob-vertical {
    left: 20%;
    margin-top: -10px;
    height: 33px;
    width: 18px;
    box-shadow: 0px 1px 2px 0px #666;
    background-image: -webkit-linear-gradient(top, #F0F0F0, #888);
    background-image: -moz-linear-gradient(top, #F0F0F0, #888);
    background-image: -ms-linear-gradient(top, #F0F0F0, #888);
    background-image: -o-linear-gradient(top, #F0F0F0, #888);
}

.slider-knob-vertical:before {
    content: '';
    background: #bbb;
    border-radius: 20%;
    position: absolute;
    top: 5%;
    left: 2%;
    right: 2%;
    bottom: 5%;
    box-shadow: 0px 0px 5px 1px #666;
}

.slider-knob-vertical:after {
    content: '';
    border-radius: 20%;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    box-shadow: 0px 0px 5px 1px #bebebe;
    background: rgb(211,211,211);
    background: -moz-linear-gradient(top,  rgba(211,211,211,1) 0%, rgba(255,255,255,1) 12%, rgba(214,214,214,1) 21%, rgba(245,245,245,1) 47%,
        rgba(155,0,0,1) 50%, rgba(178,178,178,1) 53%, rgba(243,243,243,1) 78%, rgba(255,255,255,1) 80%, rgba(168,168,168,1) 98%);
    background: -webkit-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,
        rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: -o-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,
        rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: -ms-linear-gradient(top,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,
        rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    background: linear-gradient(to bottom,  rgba(211,211,211,1) 0%,rgba(255,255,255,1) 12%,rgba(214,214,214,1) 21%,rgba(245,245,245,1) 47%,
        rgba(155,0,0,1) 50%,rgba(178,178,178,1) 53%,rgba(243,243,243,1) 78%,rgba(255,255,255,1) 80%,rgba(168,168,168,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#a8a8a8',GradientType=0 );
}

.slider-text label {
	border: 0 !important;
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
	box-shadow: 0px 0px 0px rgba(255, 255, 255, 0) !important;
    line-height: 19px;
	font-size: 12px;
    color: #727272;
    text-shadow: 1px 1px 1px #bebebe !important;
	background: rgba(255, 255, 255, 0) !important;
	font-family: Arial,Helvetica,sans-serif;
	text-align: right;
}

.slider-text-vertical input, .slider-text-horizontal input{
    float: right !important;
    box-shadow: inset 1px -1px 3px 1px #A3A3A3;
    border: solid 1px #FFF !important;
}

.slider-text-vertical input {
    margin: 0 auto!important;
    width: 87%;
}

.slider-text-vertical label {
    position: relative;
    left: -4px;
    top: -550px;
    background: #FFF !important;
    width: 70px !important;
}

.slider-text-vertical input {
    left: 9px;
    top: -257px;
}

.slider-container .slider-text-horizontal .slider-text-label {
    position: relative;
    left: -30%;
    background: #FFF !important;
    width: auto !important;
}

.no-window-content .slider-container-horizontal {
    border: solid 1px #ddd;
    margin: 10px;
    padding: 5px 30px 10px 25px;
    display: inline-block;
    float: left;
}

.no-window-content .slider-container-vertical {
    border: solid 1px #DDD;
    margin: 10px;
    padding: 15px 0px 10px 10px;
    display: inline-block;
}

.no-window-content .slider-outer {
    position: relative;
}

.no-window-content .slider-text-horizontal, .no-window-content .slider-text-vertical {
    margin-top: 0 !important;
}

.no-window-content .slider-container-horizontal .slider-text label {
    padding: 0px 5px !important;
    width: auto !important;
    display: inline-block;
    background: #FFF !important;
    position: relative;
    top: -90px;
    left: -35%;
}

.no-window-content .slider-container-vertical .slider-text label {
    padding: 0px 5px !important;
    width: auto !important;
    display: inline-block;
    background: #FFF !important;
    top: -281px;
    left: -7%;
}

.no-window-content .slider-container-horizontal .slider-outer {
    top: 0px !important;
    left: -4px;
}

.no-window-content .slider-container-horizontal .slider-text input {
    position: relative;
    bottom: -4px;
    right: -11%;
    width: 70px;
}

.no-window-content .slider-text-vertical input {
    width: 70px !important;
    margin: 10px 4px -5px auto !important;
    display: inline-block;
}

.no-window-content .slider-knob-vertical {
    left: 23%;
}

/******************************************************************************
 ** Knob                                                                   **
 ******************************************************************************/

.no-window-content .knob-container {
    box-shadow: inset 0px 4px 4px #6F6F6F;
}

.knob-overlay {
	background: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.knob-container {
    margin: 15px auto 5px auto;
    position: relative;
    border-radius: 50%;
    border-bottom: 1px solid #FFF;
    background-image: -webkit-linear-gradient(top, #dadada, #eee);
    background-image: -moz-linear-gradient(top, #dadada, #eee);
    background-image: -ms-linear-gradient(top, #dadada, #eee);
    background-image: -o-linear-gradient(top, #dadada, #eee);
}

.knob-label-horizontal {
    position: absolute;
    left: -60%;
    top: 18%;
    border: none !important;
    border-bottom: 1px solid #DDD !important;
    box-shadow: none !important;
    background: none !important;
    font-size: 14px !important;
    color: #727272 !important;
    text-shadow: 1px 1px 1px #BEBEBE !important;
    font-family: Arial,Helvetica,sans-serif !important;
}

.knob-range {
	height: 1px;
    width: 80%;
    margin: 0px 10%;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: smaller;
    font-weight: bold;
    color: #444;
}

.knob-range-horizontal {
    position: absolute;
    top: 0%;
    width: 100%;
    margin: auto;
}

.knob-max {
    float: left;
}

.knob-min {
    float: right;
}

.knob-val {
	cursor: pointer;
    position: absolute;
    font-size: smaller;
    font-weight: bold;
    color: #444;
}

.no-window-content .knob-val, .no-window-content .knob-range-val {
    box-shadow: 0px 1px 3px #CCC;
    padding: 0px 7px;
}

.no-window-content .knob-val:hover, .no-window-content .knob-range-val:hover {
    box-shadow: 0px 1px 3px #9E9E9E;
}

.no-window-content .knob-val:active, .no-window-content .knob-range-val:active {
    box-shadow: none;
    border: solid 1px #E6E6E6;
}

.knob-input-container {
    height: auto;
    text-align: right;
    margin-top: 5px;
}

.knob-input-horizontal {
    width: 100%;
    left: 85%;
    top: 20%;
}

.knob-input {
    width: 40%;
    padding: 5px;
    text-align: right;
    background: url("../images/linear_grad.png") repeat-x scroll 0 0 #FDFDFD;
    box-shadow: inset 1px -1px 3px 1px #A3A3A3;
    border: solid 1px #FFF !important;
    border-radius: 3px;
    display: inline-block;
}

.knob-input-units {
    display: inline-block;
    padding-left: 2px;
    font-size: smaller;
    color: #888;
}

.no-window-content .knob-input-container {
    text-align: center;
    position: absolute;
    right: -10%;
}

.no-window-content .knob-input {
    border: 1px solid #B8B8B8 !important;
    background: rgba(255, 255, 255, 0);
    padding: 0 3%;
    width: 50%;
    color: #555;
    font-weight: bold;
    box-shadow: inset 1px 1px 2px #CFCFCF;
    border-radius: 0;
}

.knob-50 {
    position: relative;
    margin: auto;
    width: 20%;
}

.knob-50-outter {
    width: 100%;
    height: 20px;
    text-align: center;
}

.knob {
    margin: 0px;
    position: absolute;
    left: 8%;
    top: 8%;
    bottom: 8%;
    right: 8%;
    border-radius: 50%;
    transition: .4s;
    background-position: 40% 15%;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    z-index: 10;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.37), inset 0px 2px 5px #FFF;
}

.knob:active {
    cursor: pointer;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;  
}

.knob-texture, .knob-texture:before, .knob-texture:after {
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	border-radius: 50%;
	top: 0%;
    background: rgba(255, 255, 255, 0.3);
}

.knob-texture:after {
    margin-top: 15%;
    height: 12%;
    width: 12%;
    top: -5%;
    left: 42%;
}

.knob-highlight {
    box-shadow: inset rgba(255, 255, 255, 0.1) 0px -30px 15px, inset rgba(255, 255, 255, 0.15) -25px 25px 10px,
        inset rgba(255, 255, 255, 0.4) 0px 2px 1px, inset 0px -1px 2px rgba(0, 0, 0, 0.06),0px 0px 1px rgba(109, 109, 109, 0.54);
    top: 0%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: 20;
}

.knob-metal {
    background: #666;
	background-image: url('/webui/images/skeuo/knob-chrome.png');
    background-size: 101%;
    opacity: 0.6;
}

.knob-metal:after {
    border: 1px solid #ADADAD;
    background-image: -webkit-linear-gradient(top, #747474, #919191 50%, #FFF);
    background-image: -moz-linear-gradient(top, #747474, #919191 50%, #FFF);
    background-image: -ms-linear-gradient(top, #747474, #919191 50%, #FFF);
    background-image: -o-linear-gradient(top, #747474, #919191 50%, #FFF);
    opacity: 0.8;
}

.knob-black {
    background: #303030;
    background: -moz-linear-gradient(left, #303030 0%, #3f3f3f 50%, #303030 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#303030), color-stop(50%,#303030), color-stop(100%,#303030));
    background: -webkit-linear-gradient(left, #303030 0%,#3f3f3f 50%,#303030 100%);
    background: -o-linear-gradient(left, #303030 0%,#3f3f3f 50%,#303030 100%);
    background: -ms-linear-gradient(left, #303030 0%,#3f3f3f 50%,#303030 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#303030',GradientType=1 );
    background: linear-gradient(left, #303030 0%,#3f3f3f 50%,#303030 100%);
}

.knob-black:before {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset rgba(63, 63, 63, 0.17) 0px -30px 15px, inset rgba(0, 0, 0, 0.08) -25px 25px 10px,
        inset rgba(255, 255, 255, 0.14) 0px 2px 1px, inset 0px -2px 1px rgba(0, 0, 0, 0.25);
}

.knob-black:after {
    border-bottom: 1px solid #808080;
    border-top: 1px solid #000;
    background-image: -webkit-linear-gradient(top, #313131, #5C5C5C);
    background-image: -moz-linear-gradient(top, #313131, #5C5C5C);
    background-image: -ms-linear-gradient(top, #313131, #5C5C5C);
    background-image: -o-linear-gradient(top, #313131, #5C5C5C);
}

.knob-white {
    background: -moz-linear-gradient(top,  rgba(242,243,255,1) 0%, rgba(255,255,255,0.55) 50%, rgba(242,243,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,243,255,1)), color-stop(50%,rgba(255,255,255,0.55)), color-stop(100%,rgba(242,243,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(242,243,255,1) 0%,rgba(255,255,255,0.55) 50%,rgba(242,243,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(242,243,255,1) 0%,rgba(255,255,255,0.55) 50%,rgba(242,243,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(242,243,255,1) 0%,rgba(255,255,255,0.55) 50%,rgba(242,243,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(242,243,255,1) 0%,rgba(255,255,255,0.55) 50%,rgba(242,243,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3ff', endColorstr='#f2f3ff',GradientType=0 ); /* IE6-9 */
}

.knob-white:before {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset rgba(182, 182, 182, 0.17) 0px -30px 15px, inset rgba(100, 100, 100, 0.08) -25px 25px 10px, inset #FFF 0px 2px 1px;
}

.knob-white:after {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #acacac;
    background-image: -webkit-linear-gradient(top, #B3B3B3 5%, #DADADA 50%,#EEE);
    background-image: -moz-linear-gradient(top, #B3B3B3 5%, #DADADA 50%,#EEE);
    background-image: -ms-linear-gradient(top, #B3B3B3 5%, #DADADA 50%,#EEE);
    background-image: -o-linear-gradient(top, #B3B3B3 5%, #DADADA 50%,#EEE);
}