/**
 * Stylesheet for the Power Systems lab.
 */
 
/* ----------------------------------------------------------------------------
 * -- Changes to default rig page styles.                                    --
 * ---------------------------------------------------------------------------- */
  
#rigscriptcontainer {
	height: 960px;
} 

#sessioninfo {
	margin-top: 10px;
}

#warningmessage div {
	display: none;
}

/* ----------------------------------------------------------------------------
 * -- Page backing.                                                          --
 * ---------------------------------------------------------------------------- */

#backing-left {
	position: absolute;
	left: -185px;
	top: 155px;
	width: 190px;
	height: 755px;
	border-radius: 6px 0 0 6px;
	background-color: #333333;
	box-shadow: 0 0 3px #333333;
	z-index: 0;
}

#backing-center {
	position: absolute;
	left: 3px;
	top: 10px;
	width: 670px;
	height: 900px;
	border-radius: 6px 6px 6px 0;
	background-color: #333333;
	box-shadow: 0 0 3px #333333;
	margin-bottom: 20px;
	Z-index: 0;
}

#backing-title {
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	width: 100%;
	font-size: 18pt;
	text-align: center;
	color: #EEEEEE;
	padding: 7px 3px;
}

#backing-working {
	position: absolute;
	top: 10px;
	right: 10px;
}

#mode-loading {
	position: absolute;
	left: 285px;
	top: 100px;
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	color: #EEEEEE;
}

#back-button {
	background-color: #EEEEEE;
	left: 15px;
	top: 22px;
}

#back-button .ui-icon {
	float: left;
	margin-right: 5px;
}

/* ----------------------------------------------------------------------------
 * -- Mode Switch Widget                                                     --
 * ---------------------------------------------------------------------------- */
#lab-selection {
	position: absolute;
	left: 120px;
	top: 100px;
	list-style: none;
}

#lab-selection li.button {
	position: static;
	margin: 10px;
	width: 400px;
	text-align: left;
}

/* ----------------------------------------------------------------------------
 * -- LCD Widget                                                             --
 * ---------------------------------------------------------------------------- */
#power-systems-lab .lcd-box {
	position: absolute;
	width: 195px;
	height: 90px;
	z-index: 2;
	background-color: #F3F3F3;
	border-radius: 2px;
	border: 2px solid #000000;
	box-shadow: 0 0 1px #000000;
}

#power-systems-lab .multi-lcd-box {
	height: 150px;
}

#power-systems-lab .lcd-title {
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	width: 100%;
	text-align: center;
	font-size: 10pt;
	padding: 2px 0;
	border-bottom: 2px solid #000000;
}

#power-systems-lab .lcd-value {
	position: relative;
	width: 148px;
	height: 52px;
	margin: 6px;
	background-color: #C8C8C8;
	border: 1px solid #000000;
}

#power-systems-lab .multi-lcd-box .lcd-value {
	left: 33px;
}

#power-systems-lab .lcd-unit, #power-systems-lab .multi-lcd-label {
	width: 35px;
	text-align: center;
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	font-weight: bold;
}

#power-systems-lab .lcd-unit {
	position: absolute;
	top: 40px;
	right: 0px;
	font-size: 18pt;
}

#power-systems-lab .multi-lcd-label {
	position: absolute;
	font-size: 16px;
	left: 3px;
	margin-top: 20px;
}

#power-systems-lab .red-color {
	background-color: #E4B5B5;
}

#power-systems-lab .teal-color {
	background-color: #E8C8E8;
}

#power-systems-lab .green-color {
	background-color: #D0FFE4;
}

#power-systems-lab .yellow-color {
	background-color: #EFEFC5;
}

#power-systems-lab .amber-color {
	background-color: #E1D482;
}

/* ----------------------------------------------------------------------------
 * -- Seven Segment Display                                                  --
 * ---------------------------------------------------------------------------- */
#power-systems-lab .ssd-digit {
	position: relative;
	float: left;
	width: 27px;
	height: 50px;
	margin-top: 6px;
}

#power-systems-lab .ssd-digit-5 {
    margin-left: 1px;	
}

#power-systems-lab .ssd-digit-4 {
}

#power-systems-lab .ssd-digit-3 {
}

#power-systems-lab .ssd-digit-2 {
}

#power-systems-lab .ssd-digit-1 {
}

#power-systems-lab .ssd-seg {
	position: absolute;
}

#power-systems-lab .ssd-seg-on {
    background-image: url(images/ssd.png);
}


#power-systems-lab .ssd-horz-seg {
	width: 16px;
	height: 5px;
	background-position: -1px 22px;
}

#power-systems-lab .ssd-vert-seg {
	width: 5px;
	height: 16px;
	background-position: 15px 0px;
}

#power-systems-lab .ssd-seg-1 {
	top: 1px;
	left: 5px;
}

#power-systems-lab .ssd-seg-2 {
	top: 4px;
	left: 20px;
}
 
#power-systems-lab .ssd-seg-3 {
	top: 20px;
	left: 20px;
}
 
#power-systems-lab .ssd-seg-4 {
	top: 34px;
	left: 4px;
}
 
#power-systems-lab .ssd-seg-5 {
	top: 20px;
	left: 0px;
}
 
#power-systems-lab .ssd-seg-6 {
	top: 4px;
	left: 0px;
}
 
#power-systems-lab .ssd-seg-7 {
	top: 18px;
	left: 5px;
}

#power-systems-lab .ssd-dot {
	float: left;
	margin-top: 34px;
	width: 10px;
	height: 10px;
	background-image: url(images/ssd.png);
	background-position: -3px 9px;
}

#power-systems-lab .ssd-dot-on {
	
}

/* ----------------------------------------------------------------------------
 * -- Specific LCD Widget positions                                          --
 * ---------------------------------------------------------------------------- */
#power-systems-lab.lab1 #active-power {
	left: -175px;
	top: 300px;
}

#power-systems-lab.lab1 #apparent-power {
	left: -175px;
	top: 400px;
}

#apparent-power .lcd-unit {
	font-size: 14pt;
}

#power-systems-lab.lab1 #ln-voltage {
	left: -175px;
	top: 500px;
}

#power-systems-lab.lab1 #set-voltage {
	left: -175px;
	top: 600px;
}

#power-systems-lab.lab1 #reactive-power {
	left: 25px;
	top: 300px;
}

#reactive-power .lcd-unit {
	font-size: 12pt;
}

#power-systems-lab.lab1 #active-factor {
	left: 25px;
	top: 400px;
}

#power-systems-lab.lab1 #line-frequency {
	left: 25px;
	top: 500px;
}

#power-systems-lab.lab1 #set-frequency {
	left: 25px;
	top: 600px;
}

#power-systems-lab.lab1 #line-current {
	left: -175px;
	top: 200px;
}

#power-systems-lab.lab1 #active-power-2 {
	left: 265px;
	top: 300px;
}

#power-systems-lab.lab1 #apparent-power-2 {
	left: 265px;
	top: 400px;
}

#apparent-power-2 .lcd-unit {
	font-size: 14pt;
}

#power-systems-lab.lab1 #ln-voltage-2 {
	left: 265px;
	top: 500px;
}

#power-systems-lab.lab1 #reactive-power-2 {
	left: 465px;
	top: 300px;
}

#reactive-power-2 .lcd-unit {
	font-size: 12pt;
}

#power-systems-lab.lab1 #active-factor-2 {
	left: 465px;
	top: 400px;
}

#power-systems-lab.lab1 #line-current-2 {
	left: 465px;
	top: 500px;
}

#power-systems-lab.lab2 #import-export-reactive-power {
	width: 162px;
	top: 100px;
	left: 170px;
}

#power-systems-lab.lab2 #import-export-active-power {
	width: 162px;
	top: 100px;
	left: 432px;
}

#power-systems-lab.lab2 #line-current-3 {
	left: 25px;
	top: 340px;
}

#power-systems-lab.lab2 #apparent-power-3-scaled {
	left: -175px;
	top: 440px;
}

#apparent-power-3-scaled .lcd-unit {
	font-size: 11pt;
}

#power-systems-lab.lab2 #reactive-power-3-scaled {
	left: 25px;
	top: 440px;
}

#reactive-power-3-scaled .lcd-unit {
	font-size: 10pt;
}

#power-systems-lab.lab2 #active-factor-3 {
	left: -175px;
	top: 540px;
}

#power-systems-lab.lab2 #active-power-3-scaled {
	left: 25px;
	top: 540px;
}

#power-systems-lab.lab2 #pow-factor {
	left: -175px;
	top: 640px;
}

#power-systems-lab.lab2 #load-point {
	left: 25px;
	top: 640px;
}

#power-systems-lab.lab2 #gcb-line-frequency {
	right: 245px;
	top: 340px;
}

#power-systems-lab.lab2 #gcb-ln-voltage {
	right: 45px;
	top: 340px;
}

#power-systems-lab.lab2 #active-power-2 {
	right: 210px;
	top: 540px;
}

#power-systems-lab.lab2 #reactive-power-2 {
	right: 10px;
	top: 540px;
}

#reactive-power-2 .lcd-unit {
	font-size: 12pt;
}

#power-systems-lab.lab2 #apparent-power-2 {
	right: 210px;
	top: 640px;
}

#apparent-power-2 .lcd-unit {
	font-size: 14pt;
}

#power-systems-lab.lab2 #active-factor-2 {
	right: 10px;
	top: 640px;
}

#power-systems-lab.lab2 #ln-voltage-2 {
	right: 210px;
	top: 740px;
}

#power-systems-lab.lab2 #line-current-2 {
	right: 10px;
	top: 740px;
}

/* ----------------------------------------------------------------------------
 * -- Buttons                                                                --
 * ---------------------------------------------------------------------------- */
#power-systems-lab .button {
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	position: absolute;
	padding: 3px;
	border: 3px solid #EEEEEE;
	box-shadow: 0 0 1px #000000;
	border-radius: 2px;
	text-align: center;
	cursor: pointer;
}

#power-systems-lab .button:hover {
	box-shadow: 0 0 6px #EEEEEE;
}

#power-systems-lab .button-disabled {
	opacity: 0.3;
	color: #555555;
	cursor: default;
}

#power-systems-lab .button-disabled:hover {
	box-shadow: 0 0 1px #000000;
}

#power-systems-lab .button-unknown-state {
	background-color: #EEEEEE;
}

#power-systems-lab .button-on-state {
	background-color: #F75C5C;
}

#power-systems-lab .button-off-state {
	background-color: #D0FFE4;
}

#power-systems-lab .circ-button {
	width: 44px;
	height: 44px;
	border-radius: 30px;
}

#power-systems-lab .exclusive-button {
	position: absolute;
}

#power-systems-lab .exclusive-button .button {
	position: relative;
	margin: 25px 0;
}

#power-systems-lab .up-down-buttons {
	position: absolute;
	width: 165px;
}

#power-systems-lab .up-down-buttons .button {
	position: static;
	float: left;
	width: 40px;
	height: 20px;
	margin: 15px;
	background-color: #EEEEEE;
	font-weight: bold;
}

/** ---------------------------------------------------------------------------
 *  -- Button positions                                                      --
 *  --------------------------------------------------------------------------- */
#g-on {
	left: 10px;
	top: 90px
}

#cb1-on {
	left: 100px;
	top: 105px
}

#gcb-on {
	width: 60px;
	right: 120px;
	top: 105px
}

#r-load {
	top: 70px;
}

#l-load {
	top: 135px;
}

#c-load {
	top: 200px;
}

#power-systems-lab .load-button {
	right: 10px;
	width: 55px;
}

#trans-line {
	top: 40px;
	left: 300px;
	width: 140px;
}

#set-voltage-buttons {
	left: -159px;
	top: 715px;
	
}

#set-frequency-buttons {
	left: 42px;
	top: 715px;
}

#default-settings {
	left: -57px;
	top: 830px;
	width: 150px;
	height: 21px;
}

#closed-loop {
	left: 290px;
	top: 650px;
	width: 90px;
}

#power-systems-lab.lab2 #g-on  {
	left: -160px;
	top: 230px;
}

#power-systems-lab.lab2 #cb1-on {
	left: -70px;
	top: 240px;
}

#power-systems-lab.lab2  #trans-line-1 {
	left: 120px;
	top: 240px;
}

#power-systems-lab.lab2 #mcb-on {
	top: 130px;
	left: 345px;
}

#power-systems-lab.lab2 #gcb-on {
	top: 240px;
	left: 345px;
	width: 65px;
}

#power-systems-lab.lab2 #load-lab-2 {
	top: 230px;
	right: 40px;
	width: 150px;
}

#pow-factor-buttons {
	top: 755px;
	left: -160px;
}

#load-point-buttons {
	top: 755px;
	left: 43px;
}

#default-settings-2 {
	top: 863px;
	left: -68px;
}

/* ----------------------------------------------------------------------------
 * -- Panel graphics                                                         --
 * ---------------------------------------------------------------------------- */
#power-systems-lab .graphics {
	position: absolute;
	background-color: #EEEEEE;
}

#power-systems-lab .graphics-details {
	position: absolute;
	background-color: #E8C8E8;
}

#power-systems-lab .graphics-nobg {
	position: absolute;
}

#power-systems-lab .label-box {
	font-family: ‘Lucida Console’, Monaco, 'Bitstream Vera Sans Mono', monospace;
	text-align: center;
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0 0 2px #000000;
}

#power-systems-lab .label-head {
	border-radius: 3px 3px 0 0;
	padding: 3px;
}

#power-systems-lab .h-line {
	height: 3px;
	box-shadow: 0 1px 0 #000000;
}

#power-systems-lab .v-line {
	width: 3px;
	box-shadow: 1px 0 0 #000000;
}

#power-systems-lab .arrow-head {
	position: absolute;
	width: 20px;
	height: 10px;
	background-image: url(images/arrow-head.png);
    background-repeat: no-repeat;
}

#graphics-pm1 {
	width: 150px;
	left: -150px;
	top: 167px;
}

#graphics-pm1-line-t {
	width: 210px;
	top: 190px;
	left: -175px;
}

#graphics-pm1-line-b {
	width: 190px;
	top: 290px;
	left: 32px;
}

#graphics-pm1-line-t-to-b {
	height: 97px;
	top: 193px;
	left: 32px;
}

#graphics-g-to-pm1 {
	height: 169px;
	top: 121px;
	left: 80px;
}

#graphics-g-to-cb1 {
	width: 34px;
	left: 66px;
	top: 118px;
	
}

#graphics-cb1-to-transformer {
	width: 30px;
	left: 175px;
	top: 118px;
}

#graphics-transformer-to-bus1 {
	width: 30px;
	left: 244px;
	top: 118px;
}

#graphics-pm2 {
	width: 150px;
	right: 25px;
	top: 267px;
}

#graphics-pm2-line {
	width: 397px;
	right: 12px;
	top: 290px;
}

#graphics-transformer {
	position: absolute;
	width: 60px;
	height: 60px;
	top: 94px;
	left: 201px;
	background-image: url(images/transformer.png);
	background-repeat: no-repeat;
}

#graphics-bus1 {
	width: 60px;
	left: 242px;
	top: 220px;
}

#graphics-bus1-l {
	height: 190px;
	left: 274px;
	top: 55px;
}

#graphics-bus1-r {
	height: 190px;
	left: 279px;
	top: 55px;
}

#graphics-bus1-to-trans1 {
	width: 18px;
	left: 282px;
	top: 90px;
}

#graphics-bus1-to-trans2 {
	width: 18px;
	left: 282px;
	top: 168px;
}
#graphics-trans1-to-bus2 {
	width: 18px;
	left: 440px;
	top: 90px;
}

#graphics-trans2-to-bus2 {
	width: 18px;
	left: 440px;
	top: 168px;
}

#graphics-bus2 {
	width: 60px;
	right: 180px;
	top: 220px;
}

#graphics-bus2-to-gcb {
	width: 17px;
	top: 130px;
	right: 192px;
}

#graphics-bus2-l {
	height: 190px;
	right: 214px;
	top: 55px;
}

#graphics-bus2-r {
	height: 190px;
	right: 209px;
	top: 55px;
}

#graphics-load-l {
	height: 220px;
	right: 100px;
	top: 25px;
}

#graphics-load-r {
	height: 240px;
	right: 95px;
	top: 25px;
}

#graphics-load-bus-load1 {
    width: 18px;
    right: 77px;
    top: 92px;	
}

#graphics-load-bus-load2 {
    width: 18px;
    right: 77px;
    top: 160px;	
}

#graphics-load-bus-load3 {
    width: 18px;
    right: 77px;
    top: 225px;	
}

#graphics-gcb-to-load-bus {
	width: 17px;
	right: 103px;
	top: 130px;
}

#graphics-set-voltage-line {
	width: 134px;
	top: 720px;
	left: -145px;
}

#graphics-set-voltage-to-lcd {
	height: 30px;
	top: 690px;
	left: -77px;
}

#graphics-set-freq-line {
	width: 134px;
	top: 720px;
	left: 57px;
}

#graphics-set-freq-to-lcd {
	height: 30px;
	top: 690px;
	left: 124px;
}

#graphics-default-settings {
	width: 203px;
	top: 780px;
	left: -77px;
}

#graphics-default-set-voltage {
	height: 40px;
	top: 740px;
	left: -77px;
}

#graphics-default-set-voltage-arrow {
	left: -86px;
	top: 734px;
}

#graphics-default-set-freq {
	height: 40px;
	top: 743px;
	left: 124px;
}

#graphics-default-set-freq-arrow {
	left: 115px;
	top: 734px;
}

#graphics-default-to-button {
	height: 40px;
	top: 783px;
	left: 23px;
}

#graphics-gen-details {
	top: 150px;
	left: 15px;
	height: 20px;
}

#graphics-trans-details {
	top: 150px;
	left: 204px;
	height: 20px;
}

#graphics-voltage-alert-2 {
	top: 60px;
	left: 275px;
	height: 20px;
	width: 200px;
	background-color: #E1D482;
	background-image: url(images/voltage-alert.png);
	background-repeat: no-repeat;
	background-position: 4px 4px;
}

#graphics-voltage-alert-to-mcb-2 {
	height: 40px;
	left: 382px;
	top: 90px;
}

#graphics-mcb-to-busbar-2 {
	height: 48px;
	left: 382px;
	top: 162px;
}

#graphics-busbar-to-gcb-2 {
	height: 25px;
	left: 382px;
	top: 215px;
}

#graphics-busbar-mcb-gcb-2.graphics {
	width: 140px;
	height: 8px;
	top: 210px;
	left: 310px;
	background-color: #E8C8E8;
}

#graphics-g-to-cb1-2 {
	left: -104px;
	top: 255px;
	width: 34px;
}

#graphics-cb1-to-trans-2 {
	left: 5px;
	top: 255px;
	width: 34px;
}

#graphics-trans-2 {
	width: 60px;
	height: 60px;
	top: 231px;
	left: 38px;
	background-image: url(images/transformer.png);
	background-repeat: no-repeat;
}
#graphics-trans-details-2 {
	left: 43px;
	top: 192px;
}

#graphics-gen-details-2.graphics-details {
	left: -160px;
	top: 170px;
	width: 70px;
	text-align: left;
}

#graphics-trans-to-gcb-2 {
	left: 81px;
	top: 255px;
	width: 39px;
}

#graphics-transline-to-gcb-2 {
	left: 276px;
	top: 255px;
	width: 69px;
}

#graphics-pm1-label-2 {
	left: -165px;
	top: 406px;
	height: 21px;
}

#graphics-pm1-lower-2 {
	left: -175px;
	top: 432px;
	width: 194px;
}

#graphics-pm1-lower-to-higher-2 {
	left: 18px;
	top: 332px;
	height: 103px;
}

#graphics-pm1-higher-2 {
	left: 21px;
	top: 332px;
	width: 202px;
}

#graphics-pm1-higher-2-to-meter-2 {
	left: 122px;
	top: 290px;
	height: 42px;
}

#graphics-pm1-meter-2 {
	left: 125px;
	top: 290px;
	width: 185px;
}

#graphics-meter-to-gcb-2 {
	left: 310px;
	top: 258px;
	height: 35px;
}

#graphics-pm3-label-2 {
	left: 243px;
	top: 307px;
	height: 21px;
}

#graphics-pm3-2 {
	left: 233px;
	top: 332px;
	width: 395px;
}

#graphics-pm3-to-gcb-2 {
	left: 382px;
	top: 273px;
	height: 59px;
}

#graphics-gcb-to-load-top-2 {
	right: 120px;
	top: 212px;
	width: 105px;
}

#graphics-gcb-to-load-vert-2 {
	right: 120px;
	top: 212px;
	height: 18px;
}

#graphics-pm2-2 {
	top: 532px;
	right: 12px;
	width: 397px;
}

#graphics-pm2-label-2 {
	top: 508px;
	right: 275px;
	height: 21px;
}

#graphics-pm2-to-load-up-2 {
	top: 255px;
	right: 25px;
	height: 277px;
}

#graphics-pm2-to-load-2 {
	right: 28px;
	top: 255px;
	width: 12px;
}

#graphics-set-voltage-line-2 {
	width: 134px;
	top: 760px;
	left: -145px;
}

#graphics-set-voltage-to-lcd-2 {
	height: 30px;
	top: 730px;
	left: -77px;
}

#graphics-set-freq-line-2 {
	width: 134px;
	top: 760px;
	left: 57px;
}

#graphics-set-freq-to-lcd-2 {
	height: 30px;
	top: 730px;
	left: 124px;
}

#graphics-default-settings-2 {
	width: 203px;
	top: 820px;
	left: -77px;
}

#graphics-default-set-voltage-2 {
	height: 40px;
	top: 780px;
	left: -77px;
}

#graphics-default-set-voltage-arrow-2 {
	left: -86px;
	top: 774px;
}

#graphics-default-set-freq-2 {
	height: 40px;
	top: 783px;
	left: 124px;
}

#graphics-default-set-freq-arrow-2 {
	left: 115px;
	top: 774px;
}

#graphics-default-to-button-2 {
	height: 33px;
	top: 823px;
	left: 23px;
}

#graphics-voltage-direction-2 {
	left: 30px;
	top: 120px;
	width: 120px;
	font-size: 10pt;
	background-color: #E1D482;
}

/* ----------------------------------------------------------------------------
 * -- Message box                                                            --
 * ---------------------------------------------------------------------------- */  

#power-systems-lab .message-box {
	position: absolute;
	width: 190px;
	border: 2px solid #EEEEEE;
	text-align: left;
	z-index: 100;
	opacity: 0.9;
	border-radius: 4px;
	cursor: pointer;
}

#power-systems-lab .message-box-error {
	background-color: #BA5454;
}

#power-systems-lab .message-box-info {
	background-color: #F8EC86;
}

#power-systems-lab .message-box-text {
	padding: 6px;
	color: #EEEEEE;
	font-size: 10pt;
	opacity: 1;
}

#power-systems-lab .message-box-info .message-box-text {
	color: #000000;
}

#power-systems-lab .message-box-arrow {
	position: absolute;
	width: 12px;
	height: 12px;
}

#power-systems-lab .message-box-arrow-line {
	position: absolute;
}

#power-systems-lab .message-box-error .message-box-arrow-line  {
	background-color: #BA5454;
}

#power-systems-lab .message-box-info .message-box-arrow-line {
	background-color: #F8EC86;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line, 
#power-systems-lab .message-box-arrow-right .message-box-arrow-line {
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
	width: 1px;
}

#power-systems-lab .message-box-arrow-left {
	left: -10px;
	top: 5px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line0 {
	height: 12px;
	right: 2px;
	top: -1px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line1 {
	height: 10px;
	right: 3px;
	top: 0;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line2 {
	height: 8px;
	right: 4px;
	top: 1px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line3 {
	height: 6px;
	right: 5px;
	top: 2px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line4 {
	height: 4px;
	right: 6px;
	top: 3px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line5 {
	height: 2px;
	right: 7px;
	top: 4px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line6 {
	height: 0px;
	right: 8px;
	top: 5px;
}

#power-systems-lab .message-box-arrow-left .message-box-arrow-line7 {
	height: 0px;
	right: 9px;
	top: 6px;
	border-bottom: none;
}

#power-systems-lab .message-box-arrow-right {
	right: -10px;
	top: 5px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line0 {
	height: 12px;
	left: 2px;
	top: -1px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line1 {
	height: 10px;
	left: 3px;
	top: 0;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line2 {
	height: 8px;
	left: 4px;
	top: 1px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line3 {
	height: 6px;
	left: 5px;
	top: 2px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line4 {
	height: 4px;
	left: 6px;
	top: 3px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line5 {
	height: 2px;
	left: 7px;
	top: 4px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line6 {
	height: 0px;
	left: 8px;
	top: 5px;
}

#power-systems-lab .message-box-arrow-right .message-box-arrow-line7 {
	height: 0px;
	left: 9px;
	top: 6px;
	border-bottom: none;
}


#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line, 
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line {
	border-left: 2px solid #EEEEEE;
	border-right: 2px solid #EEEEEE;
	height: 1px;
}

#power-systems-lab .message-box-arrow-top-center {
	left: 90px;
	top: -10px;
}

#power-systems-lab .message-box-arrow-top-left {
	left: 20px;
	top: -10px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line0,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line0 {
	width: 12px;
	bottom: 2px;
	left: -1px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line1,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line1 {
	width: 10px;
	bottom: 3px;
	left: 0;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line2,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line2 {
	width: 8px;
	bottom: 4px;
	left: 1px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line3,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line3 {
	width: 6px;
	bottom: 5px;
	left: 2px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line4,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line4 {
	width: 4px;
	bottom: 6px;
	left: 3px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line5,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line5 {

	width: 2px;
	bottom: 7px;
	left: 4px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line6,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line6 {

	width: 0px;
	bottom: 8px;
	left: 5px;
}

#power-systems-lab .message-box-arrow-top-left .message-box-arrow-line7,
#power-systems-lab .message-box-arrow-top-center .message-box-arrow-line7 {
	width: 0px;
	bottom: 9px;
	left: 6px;
	border-right: none;
}

/* ----------------------------------------------------------------------------
 * -- Cameras                                                                --
 * ---------------------------------------------------------------------------- */
#camera-button {
	background-color: #EEEEEE;
	left: 90px;
	top: 22px;
}

#camera-button span {
	float: left;
	margin-right: 5px;
}

/* ----------------------------------------------------------------------------
 * -- Alarm indicator.                                                       --
 * ---------------------------------------------------------------------------- */
#alarm-indicator {
	position: absolute;
	top: 870px;
	right: 10px;
}

#master-alarm-led {
	float: left;
	margin-top: 2px;
	margin-right: 10px;
}

.alarm-led {
	width: 15px;
	height: 15px;
	border-radius: 8px;
	border: 1px solid #222;
	box-shadow: 0 0 2px #AAA;
	
}

.alarm-off {
	background-color: #CCCCCC;
	background-image: radial-gradient(circle, #EFEFEF 25%, #AAA);
	background-image: -moz-radial-gradient(circle, #EFEFEF 25%, #AAA);
	background-image: -webkit-radial-gradient(circle, #EFEFEF 25%, #AAA);
	background-image: -o-radial-gradient(circle, #EFEFEF 25%, #AAA);
	background-image: -ms-radial-gradient(circle, #EFEFEF 25%, #AAA);
}
