/**
 * Robot CSS.
 *
 * @author Michael Diponio
 * @date 27th April 2015
 */
 
  
/******************************************************************************
 ** Camera control display.                                                  **
 ******************************************************************************/
 
#cc-canvas {
	cursor: pointer;	
}
  
/******************************************************************************
 ** Init system status display.                                              **
 ******************************************************************************/
#init-error {
    position: absolute;
    top: 150px;
    left: 150px;
}
 
#init-error .global-error-container {
    width: 350px;
    display: block;
    position: absolute;
    padding: 25px;   
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #575757;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
    z-index: 110;
}

#init-error .global-error-log {
    font-size: 11px;
    color: #7e7e7e;
    border-top: 1px solid #E4D3B0;
    padding-top: 5px;
}

#init-error .global-error-heading, #init-error .starting-heading {
    padding-left: 5px;
    font-size: 20pt;
    font-style: oblique;
    font-weight: bold;    
}

#init-error .global-error-heading {
	color: #cd0a0a;
}

#init-error .global-error-message, #init-error .starting-message {
    padding: 15px 0px 15px 0px;
    font-size: 13px;
}

#init-error .global-error-message {
	color: #cd0a0a;
}

#init-error .starting-spinner {
	display: block;
	margin: 20px auto 5px;
}

#init-error .global-error-icon {
    float: left;
    margin-right: 5px;
}

#init-error .global-error-close {
    float: right;
    cursor: pointer;
    border: 1px solid #B1A3A3;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #BEBDBD;
    margin: -8px -8px 0px -1px;
}
 
/******************************************************************************
 ** Code Upload                                                              **
 ******************************************************************************/
#code-upload .window-content {
	padding: 0;
}
 
#code-status { 
	height: 40px;
	padding: 0;
	margin: -5px 0 5px
}

#code-led {
	margin-top: 5px;
	margin-left: -5px;
}

#upload-dialog code {
	font-family: monospace;
	font-weight: bold;
}

#upload-dialog .saharaform {
	margin-top: 20px;
}

#upload-dialog .saharaform div {
	margin: 15px 0;
}

#upload-dialog label {
	width: 80px;
	text-align: right;
	margin-right: 10px;
}

#upload-dialog input {
	width: 247px;
	color: #000000;
}

#upload-dialog .input-invalid {
	border: 1px solid red;
}

#code-upload-spinner {
	text-align: center;
	padding: 10px;
}

#code-upload-spinner img, #code-upload-kill-spin img {
	margin-bottom: 15px;
}

#code-terminal {
	width: 502px;
	height: 275px;
	background-color: #2C2C2C;
	padding: 3px;
	overflow-y: scroll;
	font-size: 8pt;
}

#code-terminal li {
	color: #EEE;
	font-family: monospace;
}

#code-upload-kill {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
	opacity: 0.5;
}

#code-upload-kill-spin {
	width: 60px;
	margin: 10px auto;
	position: relative;
	top: 40%;
	padding: 10px;
	opacity: 1;
	text-align: center;
	font-weight: bold;
}

/******************************************************************************
 ** D-Pad                                                                    **
 ******************************************************************************/
#dpad.mode-3 {
    top: 285px;
    left: -170px;
}

#dpad .dpad-finger {
    width: 39px;
    height: 39px;
    background-color: #EFEFEF;
    box-shadow: 0 0 4px #B5B5B5;
    -moz-box-shadow: 0 0 4px #B5B5B5;
    cursor: pointer;
}

#dpad .dpad-finger:hover {
    box-shadow: 0 0 4px #606060;
    -moz-box-shadow: 0 0 4px #606060;
}

#dpad span {
    background-image: url('images/dpad_sprite.png');
    display:block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
}

#dpad #pad-center {
    position: absolute;
    left: 50px;
    top: 50px;
    width: 40px;
    height: 40px;
    box-shadow: 0;
    -moz-box-shadow: 0; 
    background-color: #EFEFEF;
}

#pad-center span {
    background-position: -2px 32px;
}

#dpad #north-finger {
    position: absolute;
    left: 50px;
    top: 0px;
    height: 49px;
    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border: 1px solid #B5B5B5;
    border-bottom-width: 0;
    background: -moz-linear-gradient(top, #DEDEDE, #EFEFEF);
}

#dpad #north-finger span {
    background-position: -2px -1px;
}

#dpad #north-finger.pressed {
    background-color: #EDEDED;
    background: -moz-linear-gradient(top, #F5F5F5, #EFEFEF);
}

#dpad #north-finger.pressed span {
    background-position: -2px -36px;
}

#dpad #east-finger {
    position: absolute;
    left: 90px;
    top: 50px;
    width: 49px;
    border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border: 1px solid #B5B5B5;
    border-left-width: 0;
    background: -moz-linear-gradient(right, #DEDEDE, #EFEFEF);
}


#dpad #east-finger span {
    background-position: -35px -2px;
    left: 15px;
}

#dpad #east-finger.pressed {
    background-color: #EDEDED;
    background: -moz-linear-gradient(right, #F5F5F5, #EFEFEF);
}

#dpad #east-finger.pressed span {
    background-position: -35px -35px;
    left: 15px;
}

#dpad #south-finger {
    position: absolute;
    left: 50px;
    top: 90px;
    height: 49px;
    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border: 1px solid #B5B5B5;
    border-top-width: 0;
    background: -moz-linear-gradient(bottom, #DEDEDE, #EFEFEF);
}

#dpad #south-finger span {
    background-position: -68px -2px;
    top: 15px;
}

#dpad #south-finger.pressed {
    background-color: #EDEDED;
    background: -moz-linear-gradient(bottom, #F5F5F5, #EFEFEF);
}

#dpad #south-finger.pressed span {
    background-position: -68px -35px;
    top: 15px;
}

#dpad #west-finger {
    position: absolute;
    left: 0;
    top: 50px;
    width: 49px;
    border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border: 1px solid #B5B5B5;
    border-right-width: 0;
    background: -moz-linear-gradient(left, #DEDEDE, #EFEFEF);
}

#dpad #west-finger span {
    background-position: -68px -68px;
}

#dpad #west-finger.pressed {
    background-color: #EDEDED;
    background: -moz-linear-gradient(left, #F5F5F5, #EFEFEF);
}

#dpad #west-finger.pressed span {
    background-position: -35px -68px;
}

/******************************************************************************
 ** Ranger widget                                                            **
 ******************************************************************************/
#ranger {
    z-index: 1000;
}

#ranger-panel {
    position: absolute;
    right: 5px;
    top: 50px;
    border: 1px solid #B5B5B5;
    box-shadow: 0 0 4px #B5B5B5;
    -moz-box-shadow: 0 0 4px #B5B5B5;
    height: 300px;
    width: 300px;   
}

#ranger-panel .widget-title {
    width: 200px;
}

#ranger-panel .bar {
    position: absolute;
}

#ranger-panel #zoom-bar {
    width: 100%;
    height: 25px;
    top: -26px;
    left: 10px;
}

#ranger-panel .bar-indicator {
    position: absolute;
}

#ranger-panel #zoom-bar-containment {
    position: absolute;
    left: 140px;
    bottom: 1px;
    width: 170px;
    height: 30px;
}

#ranger-panel #zoom-bar-indicator {
    left: 25px;
    bottom: 5px;
    z-index: 100;
}

#ranger-panel .bar-ind {
    background: none repeat scroll 0 0 #808080;
    border: 1px solid #808080;
    cursor: pointer;
    margin: 0 auto;
    height: 0;
    width: 0;
    box-shadow: 0 2px 3px #B5B5B5;
    -moz-box-shadow: 0 2px 3px #B5B5B5;
    z-index: 100;
}

#ranger-panel .bar-ind-hover {
    background: none repeat scroll 0 0 #606060;
    border: 1px solid #606060;
    box-shadow: 0 2px 3px #606060;
    -moz-box-shadow: 0 2px 3px #606060;
}

#ranger-panel #zoom-bar-indicator .zoom-bar-ind {
    display: block;
    border-top-width: 0;
}

#ranger-panel .zoom-post {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 2px;
    background-color: #DDDDDD;
}

#ranger-panel #zoom-post-l {
    left: 149px;
}

#ranger-panel #zoom-post-r {
    left: 174px;
}

#ranger-panel #zoom-arr-left {
    position: absolute;
    left:151px;
    bottom: 13px;
    background-image: url(images/arrow.png);
    width: 15px;
    height: 8px;
}

#ranger-panel #zoom-arr-line {
    position: absolute;
    left:158px;
    bottom: 13px;
    background-color: #DDDDDD;
    width: 15px;
    height: 2px;
}

#ranger-panel #zoom-arr-right {
    position: absolute;
    left:160px;
    bottom: 13px;
    background-image: url(images/arrow.png);
    width: 15px;
    height: 8px;
    background-position: 15px 0;
}

#ranger-panel #zoom-label {
    position: absolute;
    left: 152px;
    top: -20px;
    color: #606060;
}

#ranger-panel #rot-bar {
    position: absolute;
    left: -30px;
    top: 30px;
    height: 240px;
    width: 30px;
}

#ranger-panel #rot-bar-containment {
    position: absolute;
    top: 20px;
    height: 200px;
    width: 30px;
}

#ranger-panel #rot-bar-indicator {
    position: absolute;
    left: 10px;
    top: 0px;
    z-index: 100;
}


#ranger-panel #rot-bar-indicator .rot-bar-ind {
    display: block;
    float: left;
    border-left-width: 0;
}

#ranger-panel .rot-label-post {
    position: absolute;
    width: 30px;
    text-align: right;
    z-index: -1;
    border-top: 2px solid #DDDDDD;
    color: #606060;
    
}

#global-frame-enable {
    position: absolute;
    left: -27px;
    top: 12px;
    height: 25px;
    width: 25px;
    background-color: #EFEFEF;
    box-shadow: 0 0 4px #B5B5B5;
    -moz-box-shadow: 0 0 4px #B5B5B5;
    cursor: pointer;
    z-index: 101;
    border-radius: 4px 0 0 4px;
}

#global-frame-enable:hover {
    box-shadow: 0 0 4px #606060;
    -moz-box-shadow: 0 0 4px #606060;
}

#global-frame-enable span {
    margin: 4px auto 0;
}

#global-frame-enable .disabled {
    opacity: 0.3;
}
 
