@charset  UTF-8;

/* ----------------------------------------------------------------------------
 * --- Shake Table specific styles                                          ---
 * ---------------------------------------------------------------------------- */


#shake-table-anchor {
    height: 950px;
}

#graph-displacements-box {
    left: 117px;
    top: 420px;
}

#slider-motor-speed {
	left: 5px;
	top: 420px;
}

#switch-motor-on {
	left: 5px;
	top: 325px;
}

#switch-coils-on {
	left: 160px;
	top: 325px;
}

#shaker-mimic {
	position: absolute;
    left: 355px;
    top: 5px;
}

/******************************************************************************
 ** Overrides Old layout elements                                            **
 ******************************************************************************/
#sessioninfo {
    margin: 4px 0 0 !important;
}

.contentheader {
    display: none !important;
}

#slide,.menu ol {
	z-index: 4 !important;
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -34px -179px !important;
}

/******************************************************************************
 ** Tab Windows                                                              **
 ******************************************************************************/
.tab-wrapper {
	position: absolute;
    background: #FAFAFA;
    border-radius: 10px;
    border: 4px solid #333333;
    margin: 4px;
    -moz-box-shadow: 0 1px 3px #333333;
    -webkit-box-shadow: 0 1px 3px #333333;
    box-shadow: 0 1px 3px #333333;
}

.tab-wrapper-controls {
	position: absolute;
	left: -38px;
	top: 6px;
	width: 22px;
	padding: 10px 5px;
	border-radius: 10px 0 0 10px;
	background-color: #FAFAFA;
	border: 1px solid #AAAAAA;
	box-shadow: 0 0 3px #B5B5B5; 
}

.tab-wrapper-controls .ui-icon {
	margin: 0 3px;
}

.tab-wrapper-height {
	height: 40px;
}


.tab-header {
	position: relative;
	margin: 0 auto;
	top: -36px;
	left: 3px;
	z-index: 1;
}

.tab-title {
	width: 95px;
	float: left;
	margin: -1px 3px;
	padding: 5px 2px 2px 10px;
    height: 24px;
	background-color: #FAFAFA;
	border: 1px solid #AAAAAA;
	box-shadow: 0 -1px 2px #AAAAAA; 
	border-radius: 8px 8px 0 0;
    cursor: pointer;
}

.tab-active {
	border: 1px solid #333333;
	background-color: #333333;
	box-shadow: 0 -1px 4px #333333; 
}

.tab-active .window-title {
	color: #CDCDCD;
	font-weight: bold;
}

/******************************************************************************
 ** Display Manager                                                          **
 ******************************************************************************/
#display-manager {
	left: -194px;
	top: 155px;
	width: 185px;
}

#display-manager .button img {
	display: block;
	float: left;
	height: 20px;
	width: 20px;
	padding: 3px 2px 0 0;
}

#display-manager .display-manager-title {
	font-size: 13px;
    padding: 5px;
    top: 0px;
    position: absolute;
}

#display-manager .reset-button {
	text-align: center !important;
    font-size: 13px !important;
    background: #F3F3F3 !important;
    color: #555 !important;
    text-shadow: 1px 1px 0px #FFFFFF;
}

#display-manager .window-close, #display-manager .window-expand {
	display: none;
}
/******************************************************************************
 ** Camera Widget                                                            **
 ******************************************************************************/
 
#camera-coupled-tanks {
	position: absolute;
	left: 5px;
	top: 1px;
}

#camera-coupled-tanks .window-content {
	padding: 0;
    background: #242424;
    border-bottom: solid 1px #868686;
}

#camera-coupled-tanks .video-player {
	background-color: #333;
    border-bottom: 1px solid #464646;
    box-shadow: 1px 3px 10px #0C0C0C;
}

#camera-coupled-tanks .video-placeholder {
	color: #AAAAAA;
	font-size: 11pt;
	text-align: center;
	padding-top: 90px;
}

#camera-coupled-tanks .format-select select {
    color: #777777;
    text-shadow: 1px 1px 1px #FFF;
    width: 150px;
    padding: 5px;
    font-size: 12px;
    line-height: 1.2;
    border: 0;
    border-radius: 0;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ie-appearance: none;
    appearance: none;
    cursor: pointer;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5YjhiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(185,184,184,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,184,184,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(185,184,184,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9b8b8', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}

#camera-coupled-tanks .format-select {
    float: right;
    margin: 4px;
    width: 110px;
    height: 25px;
    overflow: hidden;
    background: url('/uts/coupledtanksnew/images/arrow-down.png') no-repeat right #F3F3F3;
    border: 1px solid #ddd;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
}

.metro-check {
    position: relative;
    top: -1px;
    left: 7px;
    height: 0px;
    cursor: pointer;
    font-size: 11px;
    color: #35BEFF;
    text-shadow: 1px 1px 1px #000;
}

.metro-icon {
    height: 23px;
    top: 6px;
    padding-right: 5px;
    position: relative;
}

.metro-image {
    background: url('/uts/coupledtanksnew/images/metro-help-menu.png') no-repeat	
}

.metro-image-settings {
    width: 42px;
    height: 42px;
    background-position: -1px -1px;
    margin: 5px 0px -20px 100px;
}

.metro-image-desktop {
    width: 184px;
    height: 47px;
    background-position: -45px 0px;
    margin: 10px 0px 0px 30px;
}

.metro-container {
    background: #fff;
    position: absolute;
    top: 10px;
    width: 85%;
    left: 5%;
    height: 70%;
    border-radius: 10px;
    padding-left: 5%;
    padding-top: 5%;
    font-size: 12px;
    color: #383838;
    overflow: hidden;
    border: solid 1px #CCC;
    -moz-box-shadow: 0 1px 3px #333333;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    display: none;
}

.metro-container p {
    font-size: 11px;
}

.no-flash-container {
    height: 100%;
    background: #2B2B2B;
    border: solid 1px #C0C0C0;
    border-top: none;
    text-align: center;
}

.no-flash-button {
    width: 60%;
    height: 20%;
    text-align: left;
    cursor: pointer;
}

.no-flash-button-text {
    position: absolute;
    top: 32%;
    left: 24%;
    color: #e4e4e4;
    font-size: 15px;
    text-shadow: 1px 1px 1px #000;
}

.no-flash-button-text:hover {
    color: #fff;
}

.no-flash-image {
    height: 98%;
    padding: 0% 2%;
    margin: 1%;
    position: relative;
    background-color: #B81519;
    border: solid 1px #999;
    top: 140%;
    left: 7%;
    border-radius: 4px;
}

.no-flash-image:hover {
    background-color: #CF181D;   
}

.no-flash-substring {
    color: #a7a7a7;
    font-size: 10px;
    padding: 5%;
    text-align: justify;
    position: absolute;
    bottom: 28px;
}



/******************************************************************************
 ** Place holder                                                             **
 ******************************************************************************/

.place-holder {
	margin: 10px;	
	padding: 15px 10px;
	text-align: center;
}

.place-holder p {
	margin-top: 5px;
	font-weight: bold;
}

.place-holder p span {
	font-weight: normal;
}

.place-holder-error p span {
	color: red;
}

.place-holder-loading p span {
	color:  #777777;
}

/******************************************************************************
 ** Data Logging Widget                                                      **
 ******************************************************************************/
#data-logging {
	position: absolute;
	left: -194px;
	top: 215px;
	width: 185px;
}

#data-logging .window-content {
	height: 200px;
}

#camera-coupled-tanks .format-select-label {
    float: right;
    width: 40px;
    margin: 10px 4px;
    font-size: 0.8em;
    color: #ddd;
}

#data-controls {
	margin-top: -8px;
}

#data-controls .data-control-line {
	margin: 5px 0;
}

#data-controls .data-control-line label {
	display: block;
	width: 60px;
	float: left;
	text-align: right;
	padding-right: 5px;
}

#data-enable-line label {
	margin-top: 5px;
}

#data-format-line label {
	margin-top: 9px;
}

#data-enable {
	float: left;
} 

#data-format-outer {
	float: left;
    margin: 4px;
    width: 75px;
    height: 25px;
    overflow: hidden;
    background: url('/uts/coupledtanksnew/images/arrow-down.png') no-repeat right #F3F3F3;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#data-format {
    background: rgba(0, 0, 0, 0);
    color: #777777;
    width: 100px;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border: none;
    outline: none;
    outline-width: 0;
    border-radius: 0;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ie-appearance: none;
    appearance: none;
    cursor: pointer;
}

#data-list-placeholder {
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	color: #AAAAAA;
}

#data-logging .data-logger-blur {
	opacity: 0.3;
}

#data-duration {
	float: right;
	margin-top: 6px;
	text-align: center;
	font-size: 0.9em;
}

#data-files-list {
	list-style: none;
	height: 133px;
	overflow-y: auto;
}

#data-files-list li {
	margin: 5px 3px 5px 0;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	background-color: #FEFEFE;
	overflow-x: hidden;
}

#data-files-list li a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 4px;
	color: #AAAAAA;
	text-decoration: none;
	cursor: inherit;
}

#data-files-list li.data-file-downloadable {
	border: 1px solid #888888;
	background-color: #FAFAFA;
	box-shadow: 0 0 4px #EFEFEF;
}

#data-files-list .data-file-downloadable:hover {
    box-shadow: 0 0 4px #AAAAAA;	
}

#data-files-list .data-file-downloadable a {
	color: #333333;
	cursor: pointer;
}

#data-logging .data-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/uts/coupledtanksnew/images/csv-excel-icons.png');
    margin: 0 10px -3px 1px;
    opacity: 0.4;
}

#data-logging .data-file-downloadable .data-icon {
	opacity: 1;
}

#data-logging .data-icon-CSV{
    background-position: 0px 0px;
}

#data-logging .data-icon-XLS {
    background-position: -20px 0px;
}

#data-logging .data-icon-XLSX {
    background-position: -39px 0px;
}

/******************************************************************************
 ** Specific icons                                                           **
 ******************************************************************************/
 
.icon_video {
	background-position: 0px 0px;
}

.icon_pid {
	background-position: -26px 0px;
}

.icon_mimic {
	background-position: -52px 0px;
}

.icon_graph {
	background-position: -78px 0px;
}

.icon_toggle {
	background-position: -105px 0px;
}

.icon_manual {
	background-position: -131px 0px;
}

.icon_settings {
	background-position: -157px 0px;
}

.icon_drain {
	background-position: -183px 0px;
}

.icon_datafiles{
	background-position: -208px 0px;
}

/******************************************************************************
 ** Styles for Mobile devices                                                         **
 ******************************************************************************/
@media handheld, only screen and (max-width: 480px) {
	.spin {
	    -webkit-animation: none !important;
	    -moz-animation: none !important;
	    -ms-animation: none !important;
	    -o-animation: none !important;
	    animation: none !important;
	}
}

