@CHARSET "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.buttonwrapper{
    margin: -11px;
}
.button{
    background: #f3f3f3;
    height: 20px;
    width: 145px;
    padding: 10px;
    border:solid 1px #e0e0e0;
    cursor: pointer;
}
.button:hover{
    background: #fff;	
}
.tabbed{
    background: #fafafa;
    margin: 5px 5px -5px 5px;
    padding: 5px;
}
.pidsettings{
	font-size: 80%;
}
.ui-widget-header{
    margin: -4px -4px 0px -3px !important;
}
.ui-widget-header, .ui-widget-content{
    border: solid 1px #e4e4e4 !important;
}
.ui-tabs-panel{
	border: none !important;
}

/******************************************************************************
 ** Overrides Old layout elements                                            **
 ******************************************************************************/
#sessioninfo{
	margin: 4px 0 0 0 !important;
}
.contentheader{
	display:none !important;
}
/******************************************************************************
 ** Windows                                                                  **
 ******************************************************************************/
.windowwrapper{
    float:left;
    background: #fafafa;
    border-radius: 10px;
    border: 2px solid #dfdfdf;
	margin: 4px;
}
.draggable:hover{
    border: 2px dashed #63d8ee;
}
.windowheader{
    height: 30px;
    font-size: 24px;
    padding: 5px 10px;
    color: #525252;
    cursor: move;
}
.windowtitle{
    position: relative;
    top: -10px;
    left: 10px;    
    padding-right: 10px;
}
.windowcontent{
    padding: 10px;
    margin: 5px;
    background: #FFF;
    border: solid 1px #E4E4E4;
    border-radius: 0 0 10px 10px;
}
.resizable{
    min-width: 145px;
    min-height: 50px;
}
.resizablevideo{
	min-height: 195px;
    min-width: 344px;
}
/******************************************************************************
 ** Widgets                                                                  **
 ******************************************************************************/
.videoplayer{
    height: 100%;
    width: 100%;
    background: #eee;
    border: solid 1px #E4E4E4;   
    min-width: 344px;
    min-height: 195px; 
}

.settingscontent{
    width: 241px;
    height: 212px;
}
.chartonecontent{
    width: 633px;
    height: 120px;
}
.charttwocontent{
    width: 633px;
    height: 120px;
}
.toggleposition{
    position: absolute;
    left: -192px;
    top: 140px;
}
