/**
 * CT Scanner web interface stylesheet. 
 *
 * @author Michael Diponio
 */
 
#rigscriptcontainer {
	height: 850px;
}

#warningmessage {
	margin-top: -50px !important;
	z-index: 10;
}

#rdpcontrolpanel {
	left: -165px !important;
	top: 553px !important;
	box-shadow: none;
	border: none;
}

#rdpcontrolpanel .sessionpanelheader {
	display: none;
}

#applet-label {
	top: 545px;
	left: -240px;
	height: 125px !important;
}

#applet-label .ct-line-horiz {
	width: 245px !important;
}

#ct-cameras {
	position: absolute;
	left: 20px;
	top: 50px;
}

#ct-camera-selection {
	position: absolute;
	left: 20px;
	top: -33px;
	z-index: 1;
}

#ct-format-selection {
	position: absolute;
	right: 20px;
	top: -33px;
	z-index: 1;
}

#ct-camera-selection div, #ct-format-selection div {
	float: left;
	padding: 7px 10px;
	margin: 0 5px;
	background-color: #EFEFEF;
	border: 1px solid #BBBBBB;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 0 3px #AAAAAA;
	cursor: pointer;
}

#ct-camera-selection div:hover, #ct-format-selection div:hover {
	font-weight: bold;
	box-shadow: 0 0 3px #666666;
}

#ct-camera-selection .ct-camera-selected, #ct-format-selection .ct-format-selected {
	font-weight: bold;
    background-color: #555555;
    color: #EFEFEF;
}

#ct-camera-display {
    position: relative;
    z-index: 10;
}
 
#ct-camera {
	width: 640px;
	height: 480px;
	background-color: #CCCCCC;
	border-width: 3px 1px 1px;
	border-color: #555555;
	border-style: solid;
	box-shadow: 0 0 3px #555555;
	border-radius: 2px;
	z-index: 10;
}

#ct-camera-placeholder {
	width: 165px;
	margin: 220px auto;
	color: #BBBBBB;
	font-size: 20pt;
	opactiy: 0.7;
	text-shadow: 0 0 6px #BBBBBB;
}

#display-manager {
	display: none;
}

#ct-controls .ct-label {
	position: absolute;
	width: 70px;
    height: 75px;
    background-color: #555555;
    border-radius: 4px;
    text-align: center;
    color: #EFEFEF;
    font-size: 11pt;
    font-weight: bold;
    text-align: right;
    box-shadow: 0 1px 2px #555555;
}

#ct-controls .ct-label span {
	display: block;
	padding: 5px 10px 0 0;
}

#ct-controls .slider-text {
	display: none;
}

#ct-controls .ct-line {
	background-color: #555555;
	box-shadow: 0 1px 2px #555555;
}

#ct-controls .ct-line-horiz {
	width: 340px;
	height: 5px;
	border-radius: 0 3px 3px 0;
}

#ct-controls .ct-line-vert {
	float: right;
	width: 5px;
	height: 258px;
	border-radius: 0 0 3px 3px;
	margin-right: -3px;
}

#slider-pan-label {
	left: 385px;
	top: 650px;
}

#slider-pan {
	position: absolute;
	left: 460px;
	top: 645px;
}

#slider-tilt-label {
	left: 675px;
	top: 455px;
}

#slider-tilt {
	position: absolute;
	left: 750px;
	top: 440px;
	width: 65px;
	height: 280px;
}

#slider-zoom-label {
	left: 385px;
	top: 545px;
}

#slider-zoom {
	position: absolute;
	left: 460px;
	top: 540px;
}

#slider-pan, #slider-zoom {
	height: 85px;
}

#robotics-label {
	left: 20px;
	top: 545px;
	height: 125px !important;
}

#robotics-label .ct-line-horiz {
	width: 350px;
}

#button-yaw-left {
	left: 102px;
	top: 695px;
}

#button-yaw-right {
	left: 180px;
	top: 695px;
}

#button-roll-left {
	left: 254px;
	top: 695px;
}

#button-roll-right {
	left: 306px;
	top: 695px;
}

#button-yaw-left img, #button-yaw-right img, #button-roll-left img, #button-roll-right img {
	margin-top: 3px;
}

#robotics-label .robotics-label-text {
	position: absolute;
	width: 80px;
	color: #000000;
	font-weight: normal;
	text-align: center;
}

#robotics-left-label {
	left: 100px;
	top: 75px;
}

#robotics-right-label {
	left: 237px;
	top: 65px;
}

#led-errored {
	left: 265px;
	top: 560px;
}

#led-busy {
	left: 100px;
	top: 560px;
}

#large-step {
	left: 100px;
	top: 590px;
}

#keyboard-label {
    left: -183px;
    top: 150px;
    width: 81px !important;
}

#keyboard-label .ct-line-vert {
	height: 310px;
}

.button {
	border-radius: 35px !important;
}

.button img {
	margin-top: 11px;
}

#keyboard-move {
	left: -90px;
	top: 150px;
}

#keyboard-scan {
	left: -90px;
	top: 230px;
}

#keyboard-abort {
	left: -90px;
	top: 310px;
}

#keyboard-laser {
	left: -90px;
	top: 390px;
}


#led-move {
	left: -200px;
	top: 250px;
}

#led-scan {
	left: -200px;
	top: 280px;
}

#led-abort {
	left: -177px;
	top: 310px;
}
